.stm-single-post {
  padding-top: 0px;
}

.vc_row.wpb_row.vc_row-fluid {
  padding-bottom: 0px;
}

.specification-section {
  background: #f2f2f2!important;
}

.product-detail .wrap-spec > table tr th b, .product-detail .wrap-spec > table tr td b {
  font-weight: bold;
}

table > tbody tr td {
  padding: 9px 0 8px;
  font-size: 17px!important;
  color: #333333;
  border: none!important;
}

.detail > .vc_row > .wpb_column > .vc_column-inner > .wpb_wrapper {
  margin-bottom: 0px!important;
}

.heading-font {
  color: #adadad!important;
}

.vc_grid-container-wrapper {
  min-height: 380px;
}

.vc_gitem-zone-b {
  width: calc(100% - 70px);
  height: calc(100% + 178px);
  position: absolute;
  top: -81px!important;
  left: 10%!important;
  margin-left: calc(-25% - 45px);
  background: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #cfcfcf;
   -webkit-transform: scale(0.9); 
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
   transform: scale(0.9); 
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.vc_hook_hover {
  padding-top: 64px;
}

.vc_single_image-wrapper {
  margin-top: 35px!important;
}

.vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item {
  padding-right: 25px!important;
  padding-bottom: 25px!important;
}

.owl-next {
  display: inline-block!important;
  margin: 0 10px;
  color: #ed1b2f;
}

.owl-prev {
  display: inline-block!important;
  margin: 0 10px;
  color: #ed1b2f;
}

.owl-dots {
  display: none!important;
}

.menu-item-type-taxonomy > .wp-mega-menu-link > .wpmm-mega-menu-href-title {
  font-size: 20px!important;
  color: #333333;
  /*padding: 0px 0px 25px 34px;*/
}

.wpmm-sub-menu-wrap ul li ul li {
    width: 48%;
    margin: 3px 0;
    padding: 0 10px 0 10px;
}

.wpmm-sub-menu-wrap li.wpmega-1columns-3total {
    width: 33.33%;
    padding: 0;
    padding-left: 30px;
}

/*.current-menu-item {*/
  /*background: #9e1623!important;*/
/*}*/

/*.current-menu-ancestor {*/
    /*background: #9e1623!important;*/
/*}*/