#top-bar, .header-main {
	background: #fff !important;
}
.header-main {
	border-top: 1px solid #333333;
}
#top-bar .top-bar-info li {
	color: #000 !important;
}
.header-main .header-address .address .heading-font, .header-top-info .header-main-phone a, .header-top-info .header-secondary-phone a{
	color: #000 !important;
}
.header-nav.header-nav-default {
	background: #ed1b2f !important;
}
.header-menu li a {
	color: #fff;
}
.main-menu .header-menu > li:hover > a {
	background: #9e1623 !important;
}
.main-menu .header-menu > li > ul li {
	color: #000 !important;
}
.main-menu .header-menu > li > ul li a {
	background: #fff !important;
	color: #000 !important;
}

.main-menu .header-menu > li > ul li a:hover {
	color: #ed1b2f !important;
}
.wpb_wrapper > h1 {
	font-size: 33px;
    color: #ed1b2f;
    text-align: center;
    font-weight: normal !important;
    margin-top: 46px;
    margin-bottom: 26px;
}

.vc_grid-filter.vc_grid-filter-center {
	list-style: none !important;
    width: 100% !important;
    max-width: 664px !important;
    padding: 0 4px !important;
    height: 51px !important;
    margin: 0 auto !important;
}

.vc_grid-filter.vc_grid-filter-bordered-rounded-less>.vc_grid-filter-item.vc_active, .vc_grid-filter.vc_grid-filter-bordered-rounded-less>.vc_grid-filter-item.vc_active:hover {
	line-height: 45px !important;
    background: #fff !important;
    border-top: 3px solid #ed1b2f !important;
    border-left: 1px solid #d1d1d1 !important;
    border-right: 1px solid #d1d1d1 !important;
    border-bottom: 1px solid #fff !important;
    z-index: 2 !important;
    position: relative !important;
}
.vc_grid-filter.vc_grid-filter-size-lg .vc_grid-filter-item {
	list-style: none !important;
    width: calc(25% - 8px) !important;
    height: 51px !important;
    float: left !important;
    margin: 0 4px !important;
    background: #f2f2f2 !important;
    font-size: 15px !important;
    color: #333333 !important;
    text-align: center !important;
    line-height: 50px !important;
    cursor: pointer !important;
}
.vc_grid-filter.vc_grid-filter-color-grey>.vc_grid-filter-item>span {
	text-transform: uppercase;
}

.vc_basic_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item {
	width: calc(33.33% - 4px) !important;
    display: inline-block !important;
    padding: 0 25px 25px 25px !important;
    margin-bottom: 52px !important;
    position: relative !important;
}
/*
.vc_is-hover {
	width: calc(100% - 110px) !important;
    height: calc(100% + 138px) !important;
    position: absolute !important;
    top: -65px !important;
    left: 50% !important;
    margin-left: calc(-25% - 45px) !important;
    background: #fff !important;
    border: 1px solid #cfcfcf !important;
    border-bottom: 3px solid #cfcfcf !important;
}*/

body .wpb_column > .vc_column-inner > .wpb_wrapper {
	margin-bottom: 60px !important;
}
.wpb_wrapper .center-content a .link {
	width: 33.22%;
    height: 160px;
    float: left;
    margin-right: 1px;
    margin-top: 50px;
    opacity: 0;
    background-color: #222222;
    position: relative;
    padding: 85px 0px 0px 30px;
}
.wpb_wrapper .center-content a .link .ly1, .wpb_wrapper .center-content a .link .ly2 {
	position: absolute;
    top: 26px;
    left: 29px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.wpb_wrapper .center-content a .link .ar1, .wpb_wrapper .center-content a .link .ar2 {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -10px;
}

.wpb_wrapper .center-content a .link .big {
    font-size: 22px;
    color: #fff;
}

.wpb_wrapper .center-content a .link .small {
    color: rgb(51, 51, 51);
    font-size: 11px;
    font-family: tahoma, arial, verdana;
}

.wpb_wrapper .center-content a .link:hover {
	background: #ed1b2f;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

@media only screen and (max-width: 957px) {
  #show-sp .center-content {
    margin-bottom: 30px;
  }

  .wpb_wrapper .center-content a .link {
    width: 100%;
    float: none;
    margin-bottom: 1px;
    padding-left: 100px;
  }
}

@media only screen and (max-width: 1065px) {
  #show-sp .center-content a .link {
      width: 100%;
      height: 100px;
      float: none;
      margin-right: 0;
      padding: 24px 0px 0px 127px;
      margin-bottom: 1px;
  }
  .center-content {
     margin-top: 0; 
  }
}




