@import url(http://fonts.googleapis.com/css?family=Roboto);

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/img/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  cursor: pointer;
  z-index: 8060;
  width: 200px;
  height: 200px;
}

#fancybox-loading div {
  width: 200px;
  height: 200px;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/img/fancybox_sprite.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

.wrap-price .table-price .table-pc {
  margin-top: 25px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .wrap-price .table-price .table-pc {
    display: none;
  }
}

.wrap-price .table-price .table-pc .title-price {
  font-size: 24px;
  padding-bottom: 25px;
}

.wrap-price .table-price .table-pc table {
  border: 0;
  width: 100%;
}

.wrap-price .table-price .table-pc table:nth-child(1) th {
  display: table-cell;
}

.wrap-price .table-price .table-pc table tr td, .wrap-price .table-price .table-pc table tr th {
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  table-layout: fixed;
}

.wrap-price .table-price .table-pc table tr td:nth-child(1), .wrap-price .table-price .table-pc table tr th:nth-child(1) {
  text-align: left;
}

.wrap-price .table-price .table-pc table tr td:first-child, .wrap-price .table-price .table-pc table tr th:first-child {
  border-left: 0;
}

.wrap-price .table-price .table-pc table tr td:last-child, .wrap-price .table-price .table-pc table tr th:last-child {
  border-right: 0;
}

.wrap-price .table-price .table-pc table tr:nth-child(1) td:nth-child(1), .wrap-price .table-price .table-pc table tr:nth-child(1) th:nth-child(1), .wrap-price .table-price .table-pc table tr:nth-child(2) td:nth-child(1), .wrap-price .table-price .table-pc table tr:nth-child(2) th:nth-child(1) {
  text-align: center;
  width: 280px;
  background: #fff;
}

@media screen and (max-width: 1024px) {
  .wrap-price .table-price .table-pc table tr:nth-child(1) td:nth-child(1), .wrap-price .table-price .table-pc table tr:nth-child(1) th:nth-child(1), .wrap-price .table-price .table-pc table tr:nth-child(2) td:nth-child(1), .wrap-price .table-price .table-pc table tr:nth-child(2) th:nth-child(1) {
    width: 230px;
  }
}

.wrap-price .table-price .table-pc table tr:nth-child(1) td:nth-child(2), .wrap-price .table-price .table-pc table tr:nth-child(1) th:nth-child(2), .wrap-price .table-price .table-pc table tr:nth-child(2) td:nth-child(2), .wrap-price .table-price .table-pc table tr:nth-child(2) th:nth-child(2) {
  text-align: left;
}

.wrap-price .table-price .table-pc table tr:nth-child(1) td:nth-child(3), .wrap-price .table-price .table-pc table tr:nth-child(1) th:nth-child(3), .wrap-price .table-price .table-pc table tr:nth-child(2) td:nth-child(3), .wrap-price .table-price .table-pc table tr:nth-child(2) th:nth-child(3) {
  width: 200px;
}

.wrap-price .table-price .table-pc table tr:nth-child(1) td:nth-child(4), .wrap-price .table-price .table-pc table tr:nth-child(1) th:nth-child(4), .wrap-price .table-price .table-pc table tr:nth-child(2) td:nth-child(4), .wrap-price .table-price .table-pc table tr:nth-child(2) th:nth-child(4) {
  width: 250px;
  background: #fff;
}

@media screen and (max-width: 1024px) {
  .wrap-price .table-price .table-pc table tr:nth-child(1) td:nth-child(4), .wrap-price .table-price .table-pc table tr:nth-child(1) th:nth-child(4), .wrap-price .table-price .table-pc table tr:nth-child(2) td:nth-child(4), .wrap-price .table-price .table-pc table tr:nth-child(2) th:nth-child(4) {
    width: 100px;
  }
}

.wrap-price .table-price .table-pc table tr td {
  padding-top: 14px;
  padding-bottom: 17px;
  font-size: 15px;
  color: #666;
}

.wrap-price .table-price .table-pc table tr td img {
  max-width: 90%;
}

.wrap-price .table-price .table-pc table tr th {
  display: none;
  background: #ed1b2f !important;
  height: 50px;
  font-size: 15px;
  color: #fff;
  border-color: #cb4d59;
}

.wrap-price .table-price .row_odd {
  background: #f5f5f5;
}

.wrap-price .table-price .table-mobile {
  padding-bottom: 40px;
  display: none;
}

@media screen and (max-width: 767px) {
  .wrap-price .table-price .table-mobile {
    display: block;
  }
}

.wrap-price .table-price .table-mobile table {
  margin-top: 20px;
  width: 100%;
  border: none;
}

.wrap-price .table-price .table-mobile table tr:first-child td {
  height: 70px;
  text-align: center;
}

.wrap-price .table-price .table-mobile table tr:first-child td img {
  max-width: 90%;
}

.wrap-price .table-price .table-mobile table tr:last-child td {
  text-align: center;
}

.wrap-price .table-price .table-mobile table tr td {
  border: 1px solid #d2d2d2;
  padding: 15px 20px;
  color: #666;
  font-size: 15px;
  text-align: left;
  width: 50%;
}

.wrap-price .table-price .btn-download {
  font-size: 13px;
  color: #fff;
  padding: 0 20px;
  height: 40px;
  line-height: 38px;
  border-radius: 40px;
  background: #b2b2b2;
  display: inline-block;
  transition: all 0.3s linear 0s;
}

.wrap-price .table-price .btn-download:hover {
  background: #ed1b2f;
}

.wrap-price .table-price .btn-download img {
  vertical-align: top;
  margin-left: 15px;
  margin-top: 12px;
}

@media screen and (max-width: 1024px) {
  .wrap-price .table-price .btn-download {
    font-size: 0;
  }
  .wrap-price .table-price .btn-download img {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .wrap-price .table-price .btn-download {
    font-size: 13px;
  }
  .wrap-price .table-price .btn-download img {
    margin-left: 15px;
  }
}

.price-table h1 {
  margin-bottom: 16px !important;
}

.medium {
  font-family: 'gothamvnubold_new';
}

.ro-reg, .product-detail .wrap-spec > table tr th, .product-detail .wrap-spec > table tr td, .product-detail .wrap-op .block-op .block-left .text .des, .product-detail .wrap-color .choose-color .box .color-list .item .text, .product-detail .wrap-color .wrap-360 .price .price-title, .product-detail .wrap-history .history-block .text ul li, .popup-2 .editable, .popup-2 .form .acf-field .acf-label label, .popup-2 .form .acf-field .acf-input input {
  font-family: 'Roboto-Regular';
}

.ro-bold, .product-detail .wrap-spec > table tr th b, .product-detail .wrap-spec > table tr td b, .product-detail .wrap-color .choose-color .box .color-title, .product-detail .wrap-color .wrap-360 .price .text, .product-detail .wrap-history .history-block .text p b, .popup-2 .editable b, .popup-2 .editable strong {
  font-family: 'Roboto-Bold';
}

.ro-light {
  font-family: 'Roboto-Light';
}

.go-reg, .section-bullets li, .product-detail .wrap-op .block-op .block-left .text .text-title, .product-detail .wrap-op .block-op .block-right .op-toggle > li > a, .product-detail .wrap-op .block-op .block-right .op-toggle .option .option-text, .product-detail .wrap-timeline .timeline .year, .product-detail .wrap-type .box .text {
  font-family: 'gothamvnubook_new';
}

.go-bold, .product-detail .news-page .tabs-select, .product-detail .wrap-timeline .timeline .timeline-title, .popup-2 .title {
  font-family: 'gothamvnubold_new';
}

.bullets-container {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  left: 0;
  z-index: 990;
  font-weight: normal;
}

@media screen and (max-width: 1023px) {
  .bullets-container {
    display: none;
  }
}

.section-bullets {
  transition-duration: .3s;
  list-style: none;
  margin: 0;
  vertical-align: middle;
}

.section-bullets li {
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 12px;
  clear: both;
}

.section-bullets li i {
  height: 32px;
  width: 36px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.section-bullets li b {
  padding: 0 15px;
  line-height: 32px;
  display: block;
  font-weight: normal;
  opacity: 0;
  margin-left: 36px;
  transition-duration: 0.5s;
}

.section-bullets li:first-child, .section-bullets li:last-child {
  display: none;
}

.menu1 {
  background: url(../images/icon/menu1.png) 0 0 no-repeat;
}

.menu2 {
  background: url(../images/icon/menu2.png) 0 0 no-repeat;
}

.menu3 {
  background: url(../images/icon/menu3.png) 0 0 no-repeat;
}

.menu4 {
  background: url(../images/icon/menu4.png) 0 0 no-repeat;
}

.menu5 {
  background: url(../images/icon/menu5.png) 0 0 no-repeat;
}

.menu6 {
  background: url(../images/icon/menu6.png) 0 0 no-repeat;
}

.section-bullets li a {
  color: #ed1b2f;
  height: 32px;
  width: 36px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  transition-duration: 0.3s;
  vertical-align: top;
}

.section-bullets li a span {
  background: #ebebeb;
  display: inline-block;
}

.section-bullets li.active > a i {
  background-position: 0 -32px;
}

.section-bullets li:hover > a {
  width: 100%;
}

.section-bullets li:hover > a i {
  background-position: 0 -32px;
}

.section-bullets li:hover > a b {
  opacity: 1;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.section-1 {
  min-height: calc(100vh - 117px);
  background: url("../images/img/loading_spinner.gif") center center no-repeat !important;
}

@media screen and (max-width: 1023px) {
  .section-1 {
    min-height: 0;
  }
}

.product-detail {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.product-detail .scrollable-section:nth-child(even) {
  background: #f2f2f2;
}

.product-detail .scrollable-section:nth-child(odd) {
  background: #fff;
}

.product-detail .banner-product .banner {
  height: calc(100vh - 117px);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.product-detail .title {
  font-size: 30px;
  color: #ed1b2f;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .product-detail .title {
    padding-top: 30px;
  }
}

.product-detail .wrap-spec {
  max-width: 860px;
  padding: 0 40px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-spec {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.product-detail .wrap-spec > table {
  width: 100%;
}

.product-detail .wrap-spec > table tr:nth-child(odd) {
  background: #fff;
}

.product-detail .wrap-spec > table tr:nth-child(even) {
  background: #f1f1f1;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-spec > table tr {
    padding: 10px 0;
    display: block;
  }
}

.product-detail .wrap-spec > table tr th {
  background: #ed1b2f;
  color: #fff;
}

.product-detail .wrap-spec > table tr th, .product-detail .wrap-spec > table tr td {
  table-layout: fixed;
  padding: 16px 20px;
  font-size: 15px;
  width: 50%;
  line-height: 18px;
  height: 50px;
  text-align: left;
}

.product-detail .wrap-spec > table tr th b, .product-detail .wrap-spec > table tr td b {
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-spec > table tr th, .product-detail .wrap-spec > table tr td {
    font-size: 13px;
    display: block;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
  }
  .product-detail .wrap-spec > table tr th.series, .product-detail .wrap-spec > table tr td.series {
    display: none;
  }
}

.product-detail .wrap-spec > table tr th .sub-table .col, .product-detail .wrap-spec > table tr td .sub-table .col {
  padding: 0 5px;
  float: left;
}

.product-detail .wrap-spec > table tr th .sub-table .col:first-child, .product-detail .wrap-spec > table tr td .sub-table .col:first-child {
  padding-left: 0;
}

.product-detail .wrap-op {
  height: 742px;
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 1920px;
  margin: auto;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-op {
    height: auto;
  }
}

.product-detail .wrap-op .op-title-bg {
  height: 742px;
  background-position: center top;
  background-repeat: no-repeat;
}

.product-detail .wrap-op .op-title-bg.no-bg {
  background-image: none !important;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-op .op-title-bg {
    height: auto;
  }
}

.product-detail .wrap-op .block-op {
  position: relative;
  max-width: 1260px;
  margin: auto;
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op {
    padding: 0 20px;
  }
}

.product-detail .wrap-op .block-op .block-left {
  width: 50%;
  float: left;
  padding-right: 30px;
}

.product-detail .wrap-op .block-op .block-left .img {
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-op .block-op .block-left .img {
    max-width: 540px;
    margin: auto;
    padding-right: 0;
    margin-top: 20px;
  }
}

.product-detail .wrap-op .block-op .block-left .img img {
  width: 100%;
  vertical-align: top;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-op .block-op .block-left .img img.image-pc {
    display: none;
  }
}

.product-detail .wrap-op .block-op .block-left .img img.image-mb {
  display: none;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-op .block-op .block-left .img img.image-mb {
    display: block;
  }
}

.product-detail .wrap-op .block-op .block-left .text .text-title {
  font-size: 24px;
  padding-top: 46px;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op .block-left .text .text-title {
    padding-top: 30px;
  }
}

.product-detail .wrap-op .block-op .block-left .text .des {
  font-size: 15px;
  padding-top: 22px;
  max-height: 130px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op .block-left .text .des {
    padding-top: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-op .block-op .block-left {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.product-detail .wrap-op .block-op .block-right {
  width: 50%;
  float: right;
  padding-left: 30px;
  max-height: 620px;
}

.product-detail .wrap-op .block-op .block-right .mCSB_scrollTools {
  right: 0 !important;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op .block-right {
    overflow-x: hidden;
    max-height: 530px;
  }
}

.product-detail .wrap-op .block-op .block-right .op-toggle {
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op .block-right .op-toggle {
    padding-bottom: 0;
  }
}

.product-detail .wrap-op .block-op .block-right .op-toggle > li {
  margin-top: 20px;
}

.product-detail .wrap-op .block-op .block-right .op-toggle > li:first-child {
  margin-top: 0;
}

.product-detail .wrap-op .block-op .block-right .op-toggle > li:first-child .op-option {
  display: block;
}

.product-detail .wrap-op .block-op .block-right .op-toggle > li > a {
  font-size: 18px;
  height: 50px;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 50px;
  position: relative;
  display: block;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op .block-right .op-toggle > li > a {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 40px;
    line-height: 50px;
  }
}

.product-detail .wrap-op .block-op .block-right .op-toggle > li > a.bg-tb, .product-detail .wrap-op .block-op .block-right .op-toggle > li > a.bg-mb {
  display: none;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-op .block-op .block-right .op-toggle > li > a.bg-tb {
    display: block;
  }
  .product-detail .wrap-op .block-op .block-right .op-toggle > li > a.bg-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op .block-right .op-toggle > li > a.bg-mb {
    display: block;
  }
  .product-detail .wrap-op .block-op .block-right .op-toggle > li > a.bg-tb {
    display: none;
  }
}

.product-detail .wrap-op .block-op .block-right .op-toggle > li > a i {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 30px;
  transition: all 0.3s linear 0s;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op .block-right .op-toggle > li > a i {
    font-size: 12px;
    right: 20px;
    margin-top: -4px;
  }
}

.product-detail .wrap-op .block-op .block-right .op-toggle > li > a:hover, .product-detail .wrap-op .block-op .block-right .op-toggle > li > a.active {
  background: #ed1b2f !important;
  border-color: #ed1b2f !important;
  color: #fff !important;
}

.product-detail .wrap-op .block-op .block-right .op-toggle > li > a:hover i, .product-detail .wrap-op .block-op .block-right .op-toggle > li > a.active i {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg);
}

.product-detail .wrap-op .block-op .block-right .op-toggle .op-option {
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
  display: none;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-op .block-op .block-right .op-toggle .op-option {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op .block-right .op-toggle .op-option {
    margin-left: -4px;
    margin-right: -4px;
  }
}

.product-detail .wrap-op .block-op .block-right .op-toggle .op-option .slick-dots {
  text-align: center;
  list-style: none;
  padding-top: 15px;
}

.product-detail .wrap-op .block-op .block-right .op-toggle .op-option .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.product-detail .wrap-op .block-op .block-right .op-toggle .op-option .slick-dots li button {
  height: 10px;
  width: 10px;
  margin: 0;
  padding: 0;
  font-size: 0;
  border-radius: 100%;
  background: #666;
  border: none;
  vertical-align: top;
}

.product-detail .wrap-op .block-op .block-right .op-toggle .op-option .slick-dots li:hover button,
.product-detail .wrap-op .block-op .block-right .op-toggle .op-option .slick-dots .slick-active button {
  background: #ed1b2f;
}

.product-detail .wrap-op .block-op .block-right .op-toggle .option {
  width: 33.33%;
  padding: 0 10px;
  margin-top: 20px;
  float: left;
}

.product-detail .wrap-op .block-op .block-right .op-toggle .option:nth-child(3n+1) {
  clear: both;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-op .block-op .block-right .op-toggle .option {
    padding: 0 5px;
  }
}

.product-detail .wrap-op .block-op .block-right .op-toggle .option .option-img {
  width: 100%;
  padding-bottom: 62.5%;
  position: relative;
  border: 1px solid #ccc;
  display: block;
}

.product-detail .wrap-op .block-op .block-right .op-toggle .option .option-img:hover, .product-detail .wrap-op .block-op .block-right .op-toggle .option .option-img.active {
  border-color: #ed1b2f;
}

.product-detail .wrap-op .block-op .block-right .op-toggle .option .option-img .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.product-detail .wrap-op .block-op .block-right .op-toggle .option .option-text {
  text-align: center;
  color: #fff;
  font-size: 13px;
  margin-top: 10px;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-op .block-op .block-right {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
  }
}

.product-detail .wrap-color {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  position: relative;
  z-index: 0;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-color {
    padding-bottom: 0;
  }
}

.product-detail .wrap-color table {
  width: 100%;
}

.product-detail .wrap-color .choose-color {
  width: 40%;
  table-layout: fixed;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-color .choose-color {
    width: 100%;
    padding: 0 40px;
    margin-top: 60px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-color .choose-color {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
}

.product-detail .wrap-color .choose-color .box .color-title {
  font-size: 15px;
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-color .choose-color .box .color-title {
    padding-top: 30px;
  }
}

.product-detail .wrap-color .choose-color .box:first-child .color-title {
  padding-top: 0;
}

.product-detail .wrap-color .choose-color .box .color-list .item {
  min-height: 22px;
  padding-left: 92px;
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 50%;
  float: left;
}

.product-detail .wrap-color .choose-color .box .color-list .item:nth-child(2n+1) {
  clear: both;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-color .choose-color .box .color-list .item {
    padding-left: 230px;
    min-height: 55px;
    margin-top: 20px;
    line-height: 53px;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-color .choose-color .box .color-list .item {
    padding-left: 0;
    min-height: 0;
    line-height: 100%;
    margin-top: 15px;
  }
}

.product-detail .wrap-color .choose-color .box .color-list .item .img {
  width: 82px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-color .choose-color .box .color-list .item .img {
    position: static;
    width: 140px;
    margin-top: 5px;
  }
}

.product-detail .wrap-color .choose-color .box .color-list .item .img img {
  width: 100%;
  vertical-align: top;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-color .choose-color .box .color-list .item .img {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-color .choose-color .box .color-list .item .img {
    width: 130px;
  }
}

.product-detail .wrap-color .choose-color .box .color-list .item .img table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

.product-detail .wrap-color .choose-color .box .color-list .item .img table td {
  padding-bottom: 25%;
}

.product-detail .wrap-color .choose-color .box .color-list .item .text {
  font-size: 15px;
  color: #666;
  font-size: 15px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.product-detail .wrap-color .choose-color .box .color-list .item:hover .text, .product-detail .wrap-color .choose-color .box .color-list .item.active .text {
  color: #ed1b2f;
}

.product-detail .wrap-color .block-360 {
  table-layout: fixed;
  width: 60%;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-color .block-360 {
    display: block;
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-color .block-360 {
    padding: 0 20px;
  }
}

.product-detail .wrap-color .wrap-360 {
  min-height: 444px;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-color .wrap-360 {
    min-height: 364px;
  }
}

@media screen and (max-width: 320px) {
  .product-detail .wrap-color .wrap-360 {
    min-height: 248px;
  }
}

.product-detail .wrap-color .wrap-360 .slide-360 {
  position: relative;
  width: 100%;
  padding-bottom: 73%;
}

.product-detail .wrap-color .wrap-360 .slide-360 .slide-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 56px;
  padding-bottom: 30px;
  background: url(../images/img/rotate.png) center bottom no-repeat;
  background-size: 100% auto;
}

.product-detail .wrap-color .wrap-360 .slide-360 .slide-img .spritespin {
  height: 100% !important;
  width: 100% !important;
}

.product-detail .wrap-color .wrap-360 .no-360 {
  text-align: center;
  position: relative;
}

.product-detail .wrap-color .wrap-360 .no-360 img {
  vertical-align: top;
  width: 100%;
  max-width: 550px;
}

.product-detail .wrap-color .wrap-360 .price {
  text-align: center;
}

.product-detail .wrap-color .wrap-360 .price .price-title {
  color: #666;
  font-size: 15px;
}

.product-detail .wrap-color .wrap-360 .price .text {
  color: #ed1b2f;
  font-size: 24px;
  line-height: 24px;
}

.product-detail .news-page {
  max-width: 880px;
  margin: auto;
}

.product-detail .news-page .tab-header {
  text-align: center;
  margin-bottom: 20px;
}

.product-detail .news-page .tab-header .center-cate {
  width: auto;
  padding: 0 20px;
  transform: translate3d(0px, 0px, 0px) !important;
}

.product-detail .news-page .tabs-select {
  font-size: 12px;
  color: #ed1b2f;
  height: 40px;
  border-color: #464646;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .product-detail .news-page .tabs-select {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .news-page .tabs-select {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .product-detail .news-page .tabs {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .news-page .tabs {
    display: none;
  }
}

.product-detail .wrap-gallery {
  max-width: 940px;
  margin: auto;
  padding: 0 30px;
  min-height: 380px;
}

@media screen and (max-width: 768px) {
  .product-detail .wrap-gallery {
    min-height: 321px;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-gallery {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .product-detail .wrap-gallery {
    min-height: 453px;
  }
}

@media screen and (max-width: 320px) {
  .product-detail .wrap-gallery {
    min-height: 307px;
  }
}

.product-detail .wrap-gallery .gallery-item {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.product-detail .wrap-gallery .gallery-item:nth-child(3n+1) {
  clear: both;
}

.product-detail .wrap-gallery .gallery-item a {
  display: block;
}

.product-detail .wrap-gallery .gallery-item a .img img {
  width: 100%;
  vertical-align: top;
}

.product-detail .wrap-gallery .gallery-item a .text {
  font-size: 15px;
  color: #666;
  text-align: center;
  margin-top: 6px;
  margin-bottom: -10px;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-gallery .gallery-item a .text {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-gallery .gallery-item {
    padding: 0 7px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-gallery .gallery-item {
    padding: 0 5px;
    margin-top: 10px;
    width: 50%;
  }
  .product-detail .wrap-gallery .gallery-item:nth-child(3n+1) {
    clear: none;
  }
  .product-detail .wrap-gallery .gallery-item:nth-child(2n+1) {
    clear: both;
  }
}

.product-detail .wrap-gallery .slick-arrow,
.product-detail .wrap-gallery li {
  border: 1px solid #cccccc;
  display: inline-block;
  height: 32px;
  list-style: outside none none;
  margin: 0 5px;
  text-align: center;
  vertical-align: top;
  width: 32px;
  cursor: pointer;
}

.product-detail .wrap-gallery .slick-arrow i,
.product-detail .wrap-gallery li i {
  font-size: 20px !important;
}

.product-detail .wrap-gallery .slick-arrow i,
.product-detail .wrap-gallery .slick-arrow button,
.product-detail .wrap-gallery li i,
.product-detail .wrap-gallery li button {
  color: #555;
  display: block;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  width: 100%;
  background: none;
  border: none;
}

.product-detail .wrap-gallery .slick-arrow.slick-active,
.product-detail .wrap-gallery li.slick-active {
  cursor: default;
}

.product-detail .wrap-gallery .slick-arrow.slick-active button,
.product-detail .wrap-gallery li.slick-active button {
  cursor: default;
}

.product-detail .wrap-gallery .slick-arrow.slick-active, .product-detail .wrap-gallery .slick-arrow:hover,
.product-detail .wrap-gallery li.slick-active,
.product-detail .wrap-gallery li:hover {
  background: #ed1b2f;
  border: 1px solid #ed1b2f;
}

.product-detail .wrap-gallery .slick-arrow.slick-active i,
.product-detail .wrap-gallery .slick-arrow.slick-active button, .product-detail .wrap-gallery .slick-arrow:hover i,
.product-detail .wrap-gallery .slick-arrow:hover button,
.product-detail .wrap-gallery li.slick-active i,
.product-detail .wrap-gallery li.slick-active button,
.product-detail .wrap-gallery li:hover i,
.product-detail .wrap-gallery li:hover button {
  color: #fff;
}

.product-detail .wrap-gallery .slick-arrow.slick-disabled,
.product-detail .wrap-gallery li.slick-disabled {
  display: none;
}

.product-detail .wrap-gallery .slick-dots {
  margin-top: 25px;
  text-align: center;
  width: 100%;
}

.product-detail .pagination-wrp {
  margin-top: 25px;
  margin-bottom: 0;
}

.product-detail .wrap-history {
  max-width: 1260px;
  margin: auto;
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-history {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.product-detail .wrap-history .history-block .history-slide {
  max-width: 730px;
  margin: auto;
  padding: 0 30px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-history .history-block .history-slide {
    padding: 0;
  }
}

.product-detail .wrap-history .history-block .img {
  padding-right: 200px;
}

.product-detail .wrap-history .history-block .img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-history .history-block .img {
    padding-right: 0;
  }
}

.product-detail .wrap-history .history-block .text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  right: 30px;
}

.product-detail .wrap-history .history-block .text p b {
  font-size: 18px;
  font-weight: normal;
}

.product-detail .wrap-history .history-block .text ul {
  padding: 0;
  list-style: inside;
  padding-top: 5px;
}

.product-detail .wrap-history .history-block .text ul li {
  margin-top: 5px;
  color: #666;
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-history .history-block .text {
    position: static;
    transform: none;
    top: 0;
    margin-top: 15px;
  }
}

.product-detail .wrap-timeline {
  position: relative;
  max-width: 1260px;
  margin: auto;
  padding: 0 80px;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-timeline {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.product-detail .wrap-timeline:before {
  content: '';
  position: absolute;
  top: 97px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  width: calc(100% - 178px);
  border-top: 1px dashed #666;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-timeline:before {
    top: 162px;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-timeline:before {
    width: calc(100% - 120px);
    top: 97px;
  }
}

.product-detail .wrap-timeline .timeline {
  text-align: center;
}

.product-detail .wrap-timeline .timeline .img {
  opacity: 0.4;
}

.product-detail .wrap-timeline .timeline .img img {
  width: 92px;
  display: inline-block;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-timeline .timeline .img img {
    width: 180px;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-timeline .timeline .img img {
    width: 92px;
  }
}

.product-detail .wrap-timeline .timeline .dots {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 12px;
  background: #666;
  margin-top: 22px;
}

.product-detail .wrap-timeline .timeline .year {
  font-size: 18px;
  color: #666;
  margin-top: 6px;
}

.product-detail .wrap-timeline .timeline .timeline-title {
  font-size: 14px;
  margin-top: 6px;
}

.product-detail .wrap-timeline .timeline:hover, .product-detail .wrap-timeline .timeline.slick-current {
  cursor: pointer;
}

.product-detail .wrap-timeline .timeline:hover > *, .product-detail .wrap-timeline .timeline.slick-current > * {
  color: #ed1b2f;
}

.product-detail .wrap-timeline .timeline:hover .img, .product-detail .wrap-timeline .timeline.slick-current .img {
  opacity: 1;
}

.product-detail .wrap-timeline .timeline:hover .dots, .product-detail .wrap-timeline .timeline.slick-current .dots {
  background: #ed1b2f;
}

.product-detail .wrap-timeline .slick-prev,
.product-detail .wrap-timeline .slick-next {
  width: 25px;
  height: 25px;
  background: #ed1b2f;
  color: #fff;
  position: absolute;
  top: 84px;
  left: 40px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

.product-detail .wrap-timeline .slick-prev.slick-disabled,
.product-detail .wrap-timeline .slick-next.slick-disabled {
  background: #666;
}

@media screen and (max-width: 1023px) {
  .product-detail .wrap-timeline .slick-prev,
  .product-detail .wrap-timeline .slick-next {
    top: 149px;
  }
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-timeline .slick-prev,
  .product-detail .wrap-timeline .slick-next {
    left: 20px;
    top: 84px;
  }
}

.product-detail .wrap-timeline .slick-next {
  right: 40px;
  left: auto;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-timeline .slick-next {
    left: auto;
    right: 20px;
  }
}

.product-detail .wrap-type {
  max-width: 1260px;
  padding: 0 40px;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-type {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.product-detail .wrap-type .box {
  padding: 0 60px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-type .box {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.product-detail .wrap-type .box .img {
  opacity: 0.4;
}

.product-detail .wrap-type .box .img img {
  width: 100%;
}

.product-detail .wrap-type .box .text {
  font-size: 16px;
  color: #666;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-type .box .text {
    font-size: 13px;
    margin-top: 15px;
  }
}

.product-detail .wrap-type .box:hover, .product-detail .wrap-type .box.slick-current {
  cursor: pointer;
}

.product-detail .wrap-type .box:hover .img, .product-detail .wrap-type .box.slick-current .img {
  opacity: 1;
}

.product-detail .wrap-type .slick-prev,
.product-detail .wrap-type .slick-next {
  color: #ccc;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 40px;
  font-size: 24px;
  cursor: pointer;
}

.product-detail .wrap-type .slick-prev:hover,
.product-detail .wrap-type .slick-next:hover {
  color: #ed1b2f;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-type .slick-prev,
  .product-detail .wrap-type .slick-next {
    left: 20px;
    font-size: 15px;
    margin-top: -15px;
  }
}

.product-detail .wrap-type .slick-next {
  right: 40px;
  left: auto;
}

@media screen and (max-width: 767px) {
  .product-detail .wrap-type .slick-next {
    right: 20px;
    left: auto;
  }
}

.product-detail .section-content {
  padding-bottom: 60px;
}

@media screen and (max-width: 1023px) {
  .product-detail .section-content {
    padding-bottom: 40px;
  }
}

.product-detail #scrollto-section-6 .section-content {
  padding-bottom: 30px;
}

.product-detail #show-sp {
  padding-top: 60px;
}

.fancybox-title {
  left: 0;
  margin: 0;
  right: auto;
  width: 100%;
  text-align: left;
}

.fancybox-title .child {
  display: block;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mCSB_scrollTools {
  right: 13px;
  opacity: 1;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background: #4c4c4c;
  width: 1px;
}

.mCSB_scrollTools .mCSB_dragger_bar {
  width: 3px !important;
  border-radius: 0 !important;
  margin-left: -1px !important;
  background: #ed1b2f !important;
}

.popup-2 {
  display: none;
  background: #fff;
  margin: auto;
  padding: 20px 0;
  position: relative;
}

.popup-2 .title {
  font-size: 30px;
  color: #ed1b2f;
  padding-bottom: 35px;
}

.popup-2 .img img {
  width: 100%;
  vertical-align: top;
}

.popup-2 .editable {
  font-size: 15px;
  padding-top: 20px;
}

.popup-2 .editable b, .popup-2 .editable strong {
  font-weight: normal;
}

.popup-2 .editable img {
  width: 100%;
  vertical-align: top;
}

.popup-2 .close-popup {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  background: none;
}

.popup-2 .close-popup:after {
  content: '';
  height: 2px;
  width: 25px;
  background: #ed1b2f;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-2 .close-popup:before {
  content: '';
  height: 2px;
  width: 25px;
  background: #ed1b2f;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  display: block;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup-2 .form {
  padding: 0 30px 30px;
  position: relative;
  z-index: 0;
}

.popup-2 .form .acf-field {
  border: none;
  margin: 12px 0 0;
  padding: 0;
  position: relative;
}

.popup-2 .form .acf-field .acf-label {
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .popup-2 .form .acf-field .acf-label {
    position: static;
  }
}

.popup-2 .form .acf-field .acf-label label {
  font-size: 15px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
}

.popup-2 .form .acf-field .acf-input {
  padding-left: 120px;
}

@media only screen and (max-width: 767px) {
  .popup-2 .form .acf-field .acf-input {
    padding-left: 0;
    margin-top: 10px;
  }
}

.popup-2 .form .acf-field .acf-input input {
  background: #fff;
  border: 1px solid #ccc;
  font-size: 15px;
  height: 40px;
  padding: 0 10px;
  width: 100%;
}

.popup-2 .form .acf-field .acf-input select {
  -moz-appearance: none;
  background: #fff url("images/icon/select_box2.png") no-repeat scroll right center;
  border: 1px solid #ccc;
  color: #666;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0 7px;
  text-align: left;
  width: 100%;
}

.popup-2 .form .acf-form-submit {
  margin-left: 120px;
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .popup-2 .form .acf-form-submit {
    margin-left: 0;
  }
}

.popup-2 .form .acf-form-submit input[type="button"],
.popup-2 .form .acf-form-submit input[type="submit"] {
  background: transparent linear-gradient(#ed1b2f, #ed1b2f) repeat scroll 0 0;
  border: medium none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  margin-top: 12px;
  width: 164px;
}

.popup-2 .form .acf-form-submit input[type="button"]:hover,
.popup-2 .form .acf-form-submit input[type="submit"]:hover {
  background: #9e1623;
}

.popup-2 .form .acf-form-submit input[type="button"].loading,
.popup-2 .form .acf-form-submit input[type="submit"].loading {
  background: #9e1623;
  cursor: default;
}

.main-title {
  border-left: 6px solid #ed1b2f;
  color: #333;
  display: block;
  font-size: 24px;
  line-height: 28px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

.link-access {
  background: #ed1b2f;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  padding: 0 20px;
  transition: all 0.3s linear 0s;
}

.link-access:hover {
  background: #b81827;
}
