@import url(http://fonts.googleapis.com/css?family=Roboto);

.news-page .tabs-select {
  font-family: "gothamvnubook_new", arial, Helvetica, sans-serif; }

.news-page .container-tin-tuc .title, .news-page .tabs a, #social-activities-list .right-content .heading, #social-activities-list .right-content .others .ot-heading, #social-activities-detail .right-content .title, #social-activities-detail .right-content .same-category .heading {
  font-family: "gothamvnubold_new", arial, Helvetica, sans-serif; }

#social-activities #news-wrp .block-wrp .item h4, #social-activities-detail .left-content ul li:first-child, #social-activities-detail .right-content .mob-list p, #social-activities-list .fixed-mn-left li a,
#social-activities-detail .fixed-mn-left li a {
  font-family: "Gotham Ultra", arial, Helvetica, sans-serif; }

.news-page.list-news .row-list .news-item, .news-page.list-news .row-list .news-item .inner .desc .date, .news-page.list-news .row-list .news-item .inner .desc .short-cont, .news-page.list-news.list-news-special .only-image,
.news-page.list-news.list-news-special .only-video, .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper .swiper-slide .desc p, #social-activities #news-wrp .block-wrp .item .desc p, #social-activities #news-wrp .block-wrp .item a, #social-activities-list .right-content .banner-img .desc p, #social-activities-list .right-content .main-list .block .desc .date, #social-activities-list .right-content .main-list .block .desc .short-cont p, #social-activities-detail .left-content ul li a, #social-activities-detail .right-content .mob-list select, #social-activities-detail .right-content .first-line .date, #social-activities-detail .right-content .editable p, #social-activities-detail .right-content .editable ul, #social-activities-detail .right-content .editable ol, #social-activities-detail .right-content .editable li, #social-activities-detail .right-content .same-category .view-more.pc-ver, #social-activities-detail .right-content .same-category .view-more.mob-ver {
  font-family: "Roboto-Regular", arial, Helvetica, sans-serif; }

.news-page.list-news .row-list .news-item .inner .desc .title, .special-hot-news .large-left a span, .special-hot-news .small-row .small-box a span, #social-activities-list .right-content .banner-img .desc p:first-child, #social-activities-list .right-content .main-list .block .desc .category, #social-activities-list .right-content .main-list .block .desc .title a, #social-activities-list .right-content .others .block .text p, #social-activities-detail .right-content .first-line .category, #social-activities-detail .right-content .same-category .block-wrp .block .text p {
  font-family: "Roboto-Bold", arial, Helvetica, sans-serif; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.image-desktop {
  display: inline-block; }
  @media only screen and (max-width: 1024px) {
    .image-desktop {
      display: none; } }

.image-desktop-tablet {
  display: inline-block; }
  @media only screen and (max-width: 640px) {
    .image-desktop-tablet {
      display: none; } }

.image-tablet {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .image-tablet {
      display: inline-block; } }
  @media only screen and (max-width: 640px) {
    .image-tablet {
      display: none; } }

.image-mobile {
  display: none; }
  @media only screen and (max-width: 640px) {
    .image-mobile {
      display: inline-block; } }

.news-page .container-tin-tuc {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto; }
  @media only screen and (max-width: 1024px) {
    .news-page .container-tin-tuc {
      padding: 0; } }
  @media only screen and (max-width: 767px) {
    .news-page .container-tin-tuc {
      padding: 0; } }
  .news-page .container-tin-tuc .title {
    font-size: 36px;
    color: #ed1b2f;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 25px; }

@media only screen and (max-width: 768px) {
  .news-page .tabs {
    display: none; } }

.news-page .tabs .tab-header {
  overflow-x: hidden;
  overflow-y: visible;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }
  @media only screen and (max-width: 1024px) {
    .news-page .tabs .tab-header {
      padding-left: 40px;
      padding-right: 40px; } }
  .news-page .tabs .tab-header:after {
    pointer-events: none;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 2;
    background: rgba(237, 237, 237, 0);
    background: -moz-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 237, 237, 0)), color-stop(53%, rgba(246, 246, 246, 0.53)), color-stop(100%, white));
    background: -webkit-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
    background: -o-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
    background: -ms-linear-gradient(left, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
    background: linear-gradient(to right, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1 ); }

.news-page .tabs ul.swiper-wrapper {
  width: 100%;
  max-width: none;
  text-align: left;
  border: 1px solid #ccc;
  padding: 0; }
  .news-page .tabs ul.swiper-wrapper li.swiper-slide {
    margin: 0 20px;
    white-space: nowrap;
    width: auto; }
  .news-page .tabs ul.swiper-wrapper li:after {
    right: -24px;
    top: 29px; }
  .news-page .tabs ul.swiper-wrapper.center-cate {
    text-align: center;
    display: inline-block; }

.news-page .tabs a {
  text-transform: uppercase;
  color: #666666;
  font-size: 13px;
  line-height: 60px; }
  .news-page .tabs a:after {
    bottom: -1px; }
  .news-page .tabs a.active {
    color: #ed1b2f; }

.news-page .tabs .swiper-nav {
  float: right;
  border: 1px solid #ccc;
  border-left: 0;
  position: relative; }

.news-page .tabs .swiper-button {
  display: inline-block;
  padding: 14px 0px 15px;
  color: #666666;
  font-size: 25px;
  width: 67px;
  text-align: center;
  height: 60px;
  top: 0;
  margin: 0;
  position: static;
  float: left;
  background: #fff; }
  .news-page .tabs .swiper-button.swiper-button-next {
    right: 0; }
  .news-page .tabs .swiper-button.swiper-button-prev {
    right: 67px;
    left: auto; }
  .news-page .tabs .swiper-button.swiper-button-disabled {
    opacity: 0.5; }
  .news-page .tabs .swiper-button:hover .fa {
    color: #ed1b2f; }

.news-page .tabs .gach-soc {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc; }

.news-page .tabs-select {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  height: 50px;
  background: #fff;
  border: 1px solid #cccccc;
  font-size: 15px;
  color: #666666;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: none;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  background: url(../images/icon/select_box.png) #fff no-repeat right center;
  margin-bottom: 20px; }
  @media only screen and (max-width: 1024px) {
    .news-page .tabs-select {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  @media only screen and (max-width: 768px) {
    .news-page .tabs-select {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .news-page .tabs-select {
      text-transform: normal;
      font-weight: normal;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
      width: calc(100% - 40px); } }

#news-wrap.something-news a {
  position: relative; }
  #news-wrap.something-news a img {
    position: absolute; }
    #news-wrap.something-news a img.wide {
      width: 100%;
      height: auto; }
    #news-wrap.something-news a img.tall {
      height: 100%;
      width: auto; }

.news-page.list-news {
  margin-bottom: 20px;
  width: 100%;
  float: none;
  max-width: none; }
  @media only screen and (max-width: 1024px) {
    .news-page.list-news {
      padding: 0 40px; } }
  @media only screen and (max-width: 767px) {
    .news-page.list-news {
      padding: 0 20px; } }
  .news-page.list-news .container-tin-tuc {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-bottom: 10px; }
  .news-page.list-news .pagination-wrp {
    margin-top: 5px; }
  .news-page.list-news .row-list {
    font-size: 0;
    padding-top: 40px; }
    @media only screen and (max-width: 1024px) {
      .news-page.list-news .row-list {
        padding-top: 30px; } }
    @media only screen and (max-width: 767px) {
      .news-page.list-news .row-list {
        padding-top: 20px; } }
    .news-page.list-news .row-list .news-item {
      width: 100%;
      font-size: 15px;
      margin-bottom: 20px;
      border: 1px solid #ededed; }
      .news-page.list-news .row-list .news-item .inner {
        position: relative;
        height: 100%;
        -webkit-transition: 0.2s linear;
        -moz-transition: 0.2s linear;
        -ms-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear; }
        .news-page.list-news .row-list .news-item .inner .link {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: inline-block;
          background: url(../images/bg/blank.png); }
        .news-page.list-news .row-list .news-item .inner .image {
          width: 380px;
          height: 230px;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          background: #fff;
          float: left; }
          .news-page.list-news .row-list .news-item .inner .image .video-cover {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
            z-index: 8;
            cursor: pointer;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -webkit-transition: 0.1s linear;
            -moz-transition: 0.1s linear;
            -ms-transition: 0.1s linear;
            -o-transition: 0.1s linear;
            transition: 0.1s linear; }
            @media only screen and (max-width: 768px) {
              .news-page.list-news .row-list .news-item .inner .image .video-cover {
                display: none; } }
            .news-page.list-news .row-list .news-item .inner .image .video-cover img {
              width: 45px;
              height: 52px;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              cursor: pointer; }
          .news-page.list-news .row-list .news-item .inner .image img {
            display: block;
            width: 100%;
            position: absolute;
            -webkit-transition: 0.3s linear;
            -moz-transition: 0.3s linear;
            -ms-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            transition: 0.3s linear; }
          .news-page.list-news .row-list .news-item .inner .image:hover .video-cover {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100); }
          .news-page.list-news .row-list .news-item .inner .image:hover img {
            -webkit-transform: scale(1.03);
            -moz-transform: scale(1.03);
            -ms-transform: scale(1.03);
            transform: scale(1.03); }
          @media only screen and (max-width: 1024px) {
            .news-page.list-news .row-list .news-item .inner .image {
              width: 274px;
              height: 166px; } }
          @media only screen and (max-width: 767px) {
            .news-page.list-news .row-list .news-item .inner .image {
              width: 100%;
              height: auto;
              overflow: auto; }
              .news-page.list-news .row-list .news-item .inner .image .link {
                display: block;
                position: relative; }
                .news-page.list-news .row-list .news-item .inner .image .link img {
                  position: relative; }
              .news-page.list-news .row-list .news-item .inner .image img {
                position: relative; } }
        .news-page.list-news .row-list .news-item .inner .desc {
          width: calc(100% - 380px);
          float: left;
          padding: 20px 30px; }
          .news-page.list-news .row-list .news-item .inner .desc .title {
            font-size: 18px;
            color: #666666;
            margin-bottom: 15px;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
            .news-page.list-news .row-list .news-item .inner .desc .title:hover {
              color: #ed1b2f; }
          .news-page.list-news .row-list .news-item .inner .desc .date {
            width: 125px;
            height: 30px;
            text-align: center;
            background: #ebebeb;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            font-size: 13px;
            color: #666666;
            line-height: 30px; }
          .news-page.list-news .row-list .news-item .inner .desc .short-cont {
            font-size: 15px;
            color: #333333;
            line-height: 20px;
            margin-top: 15px;
            text-align: justify; }
            .news-page.list-news .row-list .news-item .inner .desc .short-cont.short-cont-tab, .news-page.list-news .row-list .news-item .inner .desc .short-cont.short-cont-mob {
              display: none; }
          .news-page.list-news .row-list .news-item .inner .desc .view-detail {
            margin-top: 41px;
            color: #333333; }
            .news-page.list-news .row-list .news-item .inner .desc .view-detail .fa {
              color: #ff3535;
              margin-left: 16px;
              position: relative;
              font-size: 14px;
              top: 0; }
            @media only screen and (max-width: 767px) {
              .news-page.list-news .row-list .news-item .inner .desc .view-detail {
                display: none; } }
          @media only screen and (max-width: 1024px) {
            .news-page.list-news .row-list .news-item .inner .desc {
              width: calc(100% - 274px);
              padding: 10px 20px; }
              .news-page.list-news .row-list .news-item .inner .desc .title {
                margin-bottom: 10px; }
              .news-page.list-news .row-list .news-item .inner .desc .short-cont {
                margin-top: 10px; }
                .news-page.list-news .row-list .news-item .inner .desc .short-cont.short-cont-desk {
                  display: none; }
                .news-page.list-news .row-list .news-item .inner .desc .short-cont.short-cont-tab {
                  display: block; }
              .news-page.list-news .row-list .news-item .inner .desc .view-detail {
                display: none; } }
          @media only screen and (max-width: 767px) {
            .news-page.list-news .row-list .news-item .inner .desc {
              width: 100%;
              padding: 10px 20px 5px 20px; }
              .news-page.list-news .row-list .news-item .inner .desc .title {
                font-size: 15px;
                line-height: 20px; }
              .news-page.list-news .row-list .news-item .inner .desc .date {
                display: none; }
              .news-page.list-news .row-list .news-item .inner .desc .short-cont.short-cont-tab {
                display: none; } }
      .news-page.list-news .row-list .news-item:hover .inner .image .video-cover {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100); }
      .news-page.list-news .row-list .news-item:hover .inner .desc .title {
        color: #ed1b2f; }
      @media only screen and (max-width: 767px) {
        .news-page.list-news .row-list .news-item {
          margin-bottom: 10px; } }

@media only screen and (max-width: 1024px) {
  .news-page.list-news.list-news-special {
    padding: 0 30px; } }

@media only screen and (max-width: 767px) {
  .news-page.list-news.list-news-special {
    padding: 0 10px; } }

.news-page.list-news.list-news-special .container-tin-tuc {
  max-width: 1200px; }

.news-page.list-news.list-news-special .row-list {
  padding-top: 0; }

.news-page.list-news.list-news-special .only-image,
.news-page.list-news.list-news-special .only-video {
  width: 33.33%;
  font-size: 15px;
  display: inline-block;
  padding: 0 10px 20px;
  position: relative;
  vertical-align: top;
  border: none; }
  @media only screen and (max-width: 768px) {
    .news-page.list-news.list-news-special .only-image,
    .news-page.list-news.list-news-special .only-video {
      width: 50%; } }
  @media only screen and (max-width: 767px) {
    .news-page.list-news.list-news-special .only-image,
    .news-page.list-news.list-news-special .only-video {
      width: 100%; } }
  @media only screen and (max-width: 480px) {
    .news-page.list-news.list-news-special .only-image,
    .news-page.list-news.list-news-special .only-video {
      padding: 0 10px 10px; } }
  .news-page.list-news.list-news-special .only-image .inner,
  .news-page.list-news.list-news-special .only-video .inner {
    float: left;
    position: relative;
    border: 1px solid #ededed;
    height: 100%;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; }
    .news-page.list-news.list-news-special .only-image .inner .link,
    .news-page.list-news.list-news-special .only-video .inner .link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: url(../images/bg/blank.png);
      z-index: 999; }
    .news-page.list-news.list-news-special .only-image .inner .image,
    .news-page.list-news.list-news-special .only-video .inner .image {
      width: 100%;
      height: auto !important;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      background: #fff; }
      .news-page.list-news.list-news-special .only-image .inner .image > img,
      .news-page.list-news.list-news-special .only-video .inner .image > img {
        position: relative !important; }
      .news-page.list-news.list-news-special .only-image .inner .image .video-cover,
      .news-page.list-news.list-news-special .only-video .inner .image .video-cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 8;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transition: 0.1s linear;
        -moz-transition: 0.1s linear;
        -ms-transition: 0.1s linear;
        -o-transition: 0.1s linear;
        transition: 0.1s linear; }
        .news-page.list-news.list-news-special .only-image .inner .image .video-cover img,
        .news-page.list-news.list-news-special .only-video .inner .image .video-cover img {
          width: 45px;
          height: 52px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          cursor: pointer; }

.news-page.list-news .row-list .album-news .inner, .news-page.list-news .row-list .video-news .inner {
  border: none; }
  .news-page.list-news .row-list .album-news .inner .hover-border-top, .news-page.list-news .row-list .video-news .inner .hover-border-top {
    width: 0%;
    height: 2px;
    border-top: 2px solid #ed1b2f;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    z-index: 9; }
  .news-page.list-news .row-list .album-news .inner .hover-border-right, .news-page.list-news .row-list .video-news .inner .hover-border-right {
    width: 2px;
    height: 0%;
    border-right: 2px solid #ed1b2f;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    z-index: 9; }
  .news-page.list-news .row-list .album-news .inner .hover-border-bottom, .news-page.list-news .row-list .video-news .inner .hover-border-bottom {
    width: 0%;
    height: 2px;
    border-bottom: 2px solid #ed1b2f;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    z-index: 9; }
  .news-page.list-news .row-list .album-news .inner .hover-border-left, .news-page.list-news .row-list .video-news .inner .hover-border-left {
    width: 2px;
    height: 0%;
    border-left: 2px solid #ed1b2f;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    z-index: 9; }
  .news-page.list-news .row-list .album-news .inner .video-cover, .news-page.list-news .row-list .video-news .inner .video-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 8;
    cursor: pointer;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear; }
    @media only screen and (max-width: 768px) {
      .news-page.list-news .row-list .album-news .inner .video-cover, .news-page.list-news .row-list .video-news .inner .video-cover {
        display: none; } }
    .news-page.list-news .row-list .album-news .inner .video-cover img, .news-page.list-news .row-list .video-news .inner .video-cover img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      cursor: pointer; }
  .news-page.list-news .row-list .album-news .inner:hover .hover-border-top,
  .news-page.list-news .row-list .album-news .inner:hover .hover-border-bottom, .news-page.list-news .row-list .video-news .inner:hover .hover-border-top,
  .news-page.list-news .row-list .video-news .inner:hover .hover-border-bottom {
    width: 100%; }
  .news-page.list-news .row-list .album-news .inner:hover .hover-border-left,
  .news-page.list-news .row-list .album-news .inner:hover .hover-border-right, .news-page.list-news .row-list .video-news .inner:hover .hover-border-left,
  .news-page.list-news .row-list .video-news .inner:hover .hover-border-right {
    height: 100%; }
  .news-page.list-news .row-list .album-news .inner:hover .video-cover, .news-page.list-news .row-list .video-news .inner:hover .video-cover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); }
  .news-page.list-news .row-list .album-news .inner .image, .news-page.list-news .row-list .video-news .inner .image {
    background: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    .news-page.list-news .row-list .album-news .inner .image img, .news-page.list-news .row-list .video-news .inner .image img {
      position: relative; }

.video-news .hover-border-top {
  width: 0%;
  height: 2px;
  border-top: 2px solid #ed1b2f;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  z-index: 9; }

.video-news .hover-border-right {
  width: 2px;
  height: 0%;
  border-right: 2px solid #ed1b2f;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  z-index: 9; }

.video-news .hover-border-bottom {
  width: 0%;
  height: 2px;
  border-bottom: 2px solid #ed1b2f;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  z-index: 9; }

.video-news .hover-border-left {
  width: 2px;
  height: 0%;
  border-left: 2px solid #ed1b2f;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  z-index: 9; }

.video-news .video-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 8;
  cursor: pointer;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear; }
  @media only screen and (max-width: 768px) {
    .video-news .video-cover {
      display: none; } }
  .video-news .video-cover img {
    width: 45px !important;
    height: 52px !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    cursor: pointer; }

.video-news:hover {
  background: none; }
  .video-news:hover .hover-border-top,
  .video-news:hover .hover-border-bottom {
    width: 100%; }
  .video-news:hover .hover-border-left,
  .video-news:hover .hover-border-right {
    height: 100%; }
  .video-news:hover .video-cover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); }

.album-popup .fancybox-wrap {
  background: #fff; }

.album-popup .fancybox-skin {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 0px #000;
  -moz-box-shadow: 0px 0px 0px #000;
  box-shadow: 0px 0px 0px #000; }
  .album-popup .fancybox-skin .fancybox-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px 160px 20px 30px;
    font-size: 15px;
    line-height: 21px; }
  .album-popup .fancybox-skin .fancybox-nav {
    width: auto;
    height: auto;
    font-size: 25px;
    color: #fff;
    padding: 0px 20px;
    bottom: 24px;
    top: auto;
    z-index: 9999; }
    .album-popup .fancybox-skin .fancybox-nav.fancybox-next {
      border-left: 1px solid #fff;
      right: 10px; }
    .album-popup .fancybox-skin .fancybox-nav.fancybox-prev {
      left: auto;
      right: 60px; }
    .album-popup .fancybox-skin .fancybox-nav.disable {
      cursor: default; }
      .album-popup .fancybox-skin .fancybox-nav.disable .fa {
        opacity: 0.2; }

.album-popup .fancybox-close {
  width: auto;
  height: auto;
  background: #ed1b2f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
  padding: 7px;
  top: -39px;
  right: -39px;
  opacity: 1 !important;
  visibility: visible !important;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .album-popup .fancybox-close .close {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    line-height: 0;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .album-popup .fancybox-close .close::before, .album-popup .fancybox-close .close::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #fff; }
    .album-popup .fancybox-close .close::before {
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .album-popup .fancybox-close .close::after {
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .album-popup .fancybox-close .close.hairline::before, .album-popup .fancybox-close .close.hairline::after {
      height: 1px; }
  .album-popup .fancybox-close:hover {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background: #f04858; }
    .album-popup .fancybox-close:hover .close {
      -moz-transform: scale(0.7);
      -o-transform: scale(0.7);
      -ms-transform: scale(0.7);
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }

.wrap-slide-album {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none; }
  .wrap-slide-album .mythical-thing {
    width: 100%;
    max-width: 1009px;
    height: 100%;
    max-height: 668px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 41px; }
    @media only screen and (max-width: 768px) {
      .wrap-slide-album .mythical-thing {
        height: auto;
        max-height: none; } }
    .wrap-slide-album .mythical-thing .close-album-hinh-anh {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 9999; }
    .wrap-slide-album .mythical-thing .album-hinh-anh {
      width: 100%;
      height: 100%;
      background: #fff; }
      @media only screen and (max-width: 768px) {
        .wrap-slide-album .mythical-thing .album-hinh-anh {
          height: auto;
          min-height: 200px; } }
      @media only screen and (max-width: 767px) {
        .wrap-slide-album .mythical-thing .album-hinh-anh {
          min-height: 100px; } }
      .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper {
        width: 100%;
        height: 100%; }
        .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper .swiper-slide {
          width: 100%;
          height: 100%;
          background: #fff;
          padding: 8px;
          position: relative; }
          .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper .swiper-slide img {
            display: block;
            max-width: calc(100% - 16px);
            max-height: calc(100% - 16px);
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
          .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper .swiper-slide .desc {
            width: calc(100% - 16px);
            position: absolute;
            bottom: 8px;
            left: 8px;
            background: rgba(0, 0, 0, 0.7);
            padding: 16px 160px 20px 25px; }
            .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper .swiper-slide .desc p {
              font-size: 15px;
              color: #fff;
              line-height: 21px; }
            @media only screen and (max-width: 768px) {
              .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper .swiper-slide .desc {
                padding: 16px 15px 13px 15px;
                width: 100%;
                position: relative;
                bottom: auto;
                left: auto; }
                .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper .swiper-slide .desc p {
                  font-size: 13px;
                  line-height: 15px; } }
          @media only screen and (max-width: 768px) {
            .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper .swiper-slide {
              overflow-y: scroll; }
              .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-wrapper .swiper-slide img {
                width: 100%;
                max-width: none;
                max-height: none;
                position: relative;
                top: auto;
                left: auto;
                -moz-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0); } }
      .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-button-prev {
        width: 9px;
        height: 14px;
        position: absolute;
        top: auto !important;
        left: auto !important;
        bottom: 38px !important;
        right: 88px !important;
        background: none; }
        .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-button-prev i {
          color: #ed1b2f; }
        @media only screen and (max-width: 768px) {
          .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-button-prev {
            width: 14px;
            height: 20px;
            bottom: auto !important;
            top: 25% !important;
            right: auto !important;
            left: 15px !important; }
            .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-button-prev i {
              font-size: 20px; } }
      .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-button-next {
        width: 9px;
        height: 14px;
        position: absolute;
        top: auto !important;
        left: auto !important;
        bottom: 38px !important;
        right: 38px !important;
        background: none; }
        .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-button-next i {
          color: #ed1b2f; }
        @media only screen and (max-width: 768px) {
          .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-button-next {
            width: 14px;
            height: 20px;
            bottom: auto !important;
            top: 25% !important;
            right: 15px !important; }
            .wrap-slide-album .mythical-thing .album-hinh-anh .swiper-button-next i {
              font-size: 20px; } }
      .wrap-slide-album .mythical-thing .album-hinh-anh .gach-soc {
        width: 1px;
        height: 30px;
        position: absolute;
        bottom: 28px;
        right: 68px;
        border-right: 1px solid #999999;
        z-index: 9; }
        @media only screen and (max-width: 768px) {
          .wrap-slide-album .mythical-thing .album-hinh-anh .gach-soc {
            display: none; } }
    .wrap-slide-album .mythical-thing .iframe-wrp {
      width: 100%;
      height: 100%;
      background: #fff;
      padding: 8px;
      min-height: 400px; }
      .wrap-slide-album .mythical-thing .iframe-wrp iframe {
        width: 100%;
        height: 100%;
        border: none; }

.list-news > .pagination-wrp {
  margin: 5px 0 60px 0; }

.special-hot-news img {
  display: block;
  position: relative !important;
  width: 100%;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear; }

.special-hot-news .large-left {
  width: 49.25%;
  float: left;
  position: relative; }
  .special-hot-news .large-left a {
    position: relative;
    display: block;
    overflow: hidden; }
    .special-hot-news .large-left a img.black-text-image {
      display: none; }
    .special-hot-news .large-left a img.white-text-image {
      display: none; }
    .special-hot-news .large-left a span {
      font-size: 18px;
      color: #fff;
      line-height: 22px;
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      padding: 18px 35px 18px 20px; }
      .special-hot-news .large-left a span i {
        font-size: 24px;
        color: #fff;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -12px; }
      .special-hot-news .large-left a span.mobile-visible {
        display: none;
        font-size: 15px;
        line-height: 18px;
        padding: 8px 10px 8px 10px; }
    .special-hot-news .large-left a:hover img {
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03); }
    .special-hot-news .large-left a:hover span {
      -webkit-transition: 0.3s linear;
      -moz-transition: 0.3s linear;
      -ms-transition: 0.3s linear;
      -o-transition: 0.3s linear;
      transition: 0.3s linear;
      background: #ed1b2f; }
  .special-hot-news .large-left .hover-border-top {
    width: 0%;
    height: 2px;
    border-top: 2px solid #ed1b2f;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    z-index: 9; }
  .special-hot-news .large-left .hover-border-right {
    width: 2px;
    height: 0%;
    border-right: 2px solid #ed1b2f;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    z-index: 9; }
  .special-hot-news .large-left .hover-border-bottom {
    width: 0%;
    height: 2px;
    border-bottom: 2px solid #ed1b2f;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    z-index: 9; }
  .special-hot-news .large-left .hover-border-left {
    width: 2px;
    height: 0%;
    border-left: 2px solid #ed1b2f;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    z-index: 9; }
  .special-hot-news .large-left .video-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 8;
    cursor: pointer;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear; }
    @media only screen and (max-width: 768px) {
      .special-hot-news .large-left .video-cover {
        display: none; } }
    .special-hot-news .large-left .video-cover img {
      width: 45px !important;
      height: 52px !important;
      position: absolute !important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      cursor: pointer; }
  .special-hot-news .large-left:hover .hover-border-top,
  .special-hot-news .large-left:hover .hover-border-bottom {
    width: 100%; }
  .special-hot-news .large-left:hover .hover-border-left,
  .special-hot-news .large-left:hover .hover-border-right {
    height: 100%; }
  .special-hot-news .large-left:hover .video-cover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); }

.special-hot-news .small-row {
  width: 50.75%;
  float: left; }
  .special-hot-news .small-row .small-box {
    width: 50%;
    float: left;
    padding-left: 3%;
    position: relative; }
    .special-hot-news .small-row .small-box a {
      position: relative;
      display: block;
      overflow: hidden; }
      .special-hot-news .small-row .small-box a img.black-text-image {
        display: none; }
      .special-hot-news .small-row .small-box a img.white-text-image {
        display: none; }
      .special-hot-news .small-row .small-box a span {
        font-size: 15px;
        color: #fff;
        line-height: 19px;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        padding: 14px 35px 14px 20px; }
        .special-hot-news .small-row .small-box a span i {
          font-size: 20px;
          color: #fff;
          position: absolute;
          right: 20px;
          top: 50%;
          margin-top: -10px; }
        .special-hot-news .small-row .small-box a span.mobile-visible {
          display: none;
          font-size: 13px;
          line-height: 14px;
          padding: 8px 10px 8px 10px; }
      .special-hot-news .small-row .small-box a:hover img {
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03); }
      .special-hot-news .small-row .small-box a:hover span {
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -ms-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear;
        background: #ed1b2f; }
    .special-hot-news .small-row .small-box.black-text a img.normal-image, .special-hot-news .small-row .small-box.white-text a img.normal-image {
      display: none; }
    .special-hot-news .small-row .small-box.black-text a img.black-text-image, .special-hot-news .small-row .small-box.white-text a img.black-text-image {
      display: block; }
    .special-hot-news .small-row .small-box.black-text a img.white-text-image, .special-hot-news .small-row .small-box.white-text a img.white-text-image {
      display: none; }
    .special-hot-news .small-row .small-box.black-text a span, .special-hot-news .small-row .small-box.white-text a span {
      top: 0;
      bottom: auto;
      background: none;
      text-transform: uppercase;
      color: #000;
      font-size: 22px;
      line-height: 25px;
      padding: 20px; }
      .special-hot-news .small-row .small-box.black-text a span i, .special-hot-news .small-row .small-box.white-text a span i {
        display: none; }
    .special-hot-news .small-row .small-box.black-text a:hover img, .special-hot-news .small-row .small-box.white-text a:hover img {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 0.7;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      filter: alpha(opacity=70); }
    .special-hot-news .small-row .small-box.black-text a:hover span, .special-hot-news .small-row .small-box.white-text a:hover span {
      background: none; }
    .special-hot-news .small-row .small-box.white-text a img.black-text-image {
      display: none; }
    .special-hot-news .small-row .small-box.white-text a img.white-text-image {
      display: block; }
    .special-hot-news .small-row .small-box.white-text a span {
      color: #fff; }
    .special-hot-news .small-row .small-box .hover-border-top {
      width: 0%;
      height: 2px;
      border-top: 2px solid #ed1b2f;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -ms-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
      z-index: 9; }
    .special-hot-news .small-row .small-box .hover-border-right {
      width: 2px;
      height: 0%;
      border-right: 2px solid #ed1b2f;
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -ms-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
      z-index: 9; }
    .special-hot-news .small-row .small-box .hover-border-bottom {
      width: 0%;
      height: 2px;
      border-bottom: 2px solid #ed1b2f;
      position: absolute;
      bottom: 0;
      right: 0;
      -webkit-transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -ms-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
      z-index: 9; }
    .special-hot-news .small-row .small-box .hover-border-left {
      width: 2px;
      height: 0%;
      border-left: 2px solid #ed1b2f;
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -ms-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
      z-index: 9; }
    .special-hot-news .small-row .small-box .video-cover {
      width: 93.334% !important;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0 !important;
      left: auto !important;
      background: rgba(0, 0, 0, 0.7);
      z-index: 8;
      cursor: pointer;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -ms-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear; }
      @media only screen and (max-width: 768px) {
        .special-hot-news .small-row .small-box .video-cover {
          display: none; } }
      .special-hot-news .small-row .small-box .video-cover img {
        width: 45px !important;
        height: 52px !important;
        position: absolute !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        cursor: pointer; }
    .special-hot-news .small-row .small-box:hover .hover-border-top,
    .special-hot-news .small-row .small-box:hover .hover-border-bottom {
      width: 100%; }
    .special-hot-news .small-row .small-box:hover .hover-border-left,
    .special-hot-news .small-row .small-box:hover .hover-border-right {
      height: 100%; }
    .special-hot-news .small-row .small-box:hover .video-cover {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100); }

.special-hot-news .gach-ngang-2,
.special-hot-news .gach-ngang-3 {
  display: none; }

@media only screen and (max-width: 1024px) {
  .special-hot-news .large-left {
    width: 65.91%; }
  .special-hot-news .small-row {
    width: 34.09%; }
    .special-hot-news .small-row .small-box {
      width: 100%;
      padding-left: 6%; }
    .special-hot-news .small-row.small-row-2 {
      display: none;
      float: none;
      width: 100%; }
      .special-hot-news .small-row.small-row-2 .small-box {
        width: 50%;
        padding-left: 1%; }
        .special-hot-news .small-row.small-row-2 .small-box:first-of-type {
          padding-left: 0 !important;
          padding-right: 1%; }
  .special-hot-news .gach-ngang-2 {
    display: block; } }

@media only screen and (max-width: 767px) {
  .special-hot-news {
    margin: 0 !important; }
    .special-hot-news .large-left {
      width: 100%; }
      .special-hot-news .large-left a span.mobile-hidden {
        display: none; }
      .special-hot-news .large-left a span.mobile-visible {
        display: block; }
    .special-hot-news .small-row {
      float: none;
      width: 100%; }
      .special-hot-news .small-row .small-box {
        float: left;
        width: 50%;
        padding-left: 1%; }
        .special-hot-news .small-row .small-box:first-of-type {
          padding-left: 0 !important;
          padding-right: 1%; }
        .special-hot-news .small-row .small-box a span.mobile-hidden {
          display: none; }
        .special-hot-news .small-row .small-box a span.mobile-visible {
          display: block; }
        .special-hot-news .small-row .small-box.black-text a span, .special-hot-news .small-row .small-box.white-text a span {
          padding: 10px;
          font-size: 13px;
          line-height: 16px; }
    .special-hot-news .gach-ngang-2 {
      display: none; }
    .special-hot-news .gach-ngang-3 {
      display: block; } }

#social-activities #hdxh-slider {
  width: 100%;
  height: 420px; }
  @media only screen and (max-width: 1024px) {
    #social-activities #hdxh-slider {
      height: 350px; } }
  @media only screen and (max-width: 767px) {
    #social-activities #hdxh-slider {
      display: none; } }
  #social-activities #hdxh-slider .swiper-container {
    width: 100%;
    height: 100%; }
    #social-activities #hdxh-slider .swiper-container .swiper-slide {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #social-activities #hdxh-slider .swiper-container .swiper-slide a {
        width: 100%;
        height: 100%;
        position: relative;
        display: block; }
        #social-activities #hdxh-slider .swiper-container .swiper-slide a img {
          display: block;
          position: absolute; }
          #social-activities #hdxh-slider .swiper-container .swiper-slide a img.mobile-img {
            display: none; }
          @media only screen and (max-width: 1024px) {
            #social-activities #hdxh-slider .swiper-container .swiper-slide a img {
              height: 120%; } }
          @media only screen and (max-width: 767px) {
            #social-activities #hdxh-slider .swiper-container .swiper-slide a img {
              height: 100%; }
              #social-activities #hdxh-slider .swiper-container .swiper-slide a img.desktop-img {
                display: none; }
              #social-activities #hdxh-slider .swiper-container .swiper-slide a img.mobile-img {
                display: block; } }
    #social-activities #hdxh-slider .swiper-container .nav-buttons {
      position: absolute;
      left: 0;
      padding-left: 20px;
      top: 50%;
      z-index: 10;
      color: #fff;
      font-size: 1.42857em;
      cursor: pointer; }
      #social-activities #hdxh-slider .swiper-container .nav-buttons.prev-button {
        margin-top: -60px;
        padding-bottom: 15px;
        padding-right: 18px;
        border-bottom: 1px solid #c7c5c1; }
      #social-activities #hdxh-slider .swiper-container .nav-buttons.next-button {
        margin-top: -8px; }
      #social-activities #hdxh-slider .swiper-container .nav-buttons.swiper-button-disabled {
        color: rgba(255, 255, 255, 0.5); }
      @media only screen and (max-width: 1024px) {
        #social-activities #hdxh-slider .swiper-container .nav-buttons {
          display: none; } }
    #social-activities #hdxh-slider .swiper-container .swiper-pagination {
      width: 100%;
      max-width: 1180px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      bottom: 16px; }
      #social-activities #hdxh-slider .swiper-container .swiper-pagination span {
        background: #fff;
        margin: 0 17px 0 0;
        position: relative;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        width: 8px;
        height: 8px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        #social-activities #hdxh-slider .swiper-container .swiper-pagination span::after {
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: transparent;
          left: -6px;
          top: -6px;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        #social-activities #hdxh-slider .swiper-container .swiper-pagination span:hover, #social-activities #hdxh-slider .swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=100); }
          #social-activities #hdxh-slider .swiper-container .swiper-pagination span:hover::after, #social-activities #hdxh-slider .swiper-container .swiper-pagination span.swiper-pagination-bullet-active::after {
            background: rgba(255, 255, 255, 0.2); }

#social-activities #hdxh-slider-mob {
  width: 100%;
  height: 420px;
  display: none; }
  @media only screen and (max-width: 1024px) {
    #social-activities #hdxh-slider-mob {
      height: auto; } }
  @media only screen and (max-width: 767px) {
    #social-activities #hdxh-slider-mob {
      display: block; } }
  #social-activities #hdxh-slider-mob .swiper-container {
    width: 100%;
    height: 100%; }
    #social-activities #hdxh-slider-mob .swiper-container .swiper-slide {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #social-activities #hdxh-slider-mob .swiper-container .swiper-slide a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative; }
        #social-activities #hdxh-slider-mob .swiper-container .swiper-slide a img {
          display: block;
          width: 100%; }
          #social-activities #hdxh-slider-mob .swiper-container .swiper-slide a img.mobile-img {
            display: none; }
          @media only screen and (max-width: 767px) {
            #social-activities #hdxh-slider-mob .swiper-container .swiper-slide a img.desktop-img {
              display: none; }
            #social-activities #hdxh-slider-mob .swiper-container .swiper-slide a img.mobile-img {
              display: block; } }
    #social-activities #hdxh-slider-mob .swiper-container .nav-buttons {
      position: absolute;
      left: 0;
      padding-left: 20px;
      top: 50%;
      z-index: 10;
      color: #fff;
      font-size: 1.42857em;
      cursor: pointer; }
      #social-activities #hdxh-slider-mob .swiper-container .nav-buttons.prev-button {
        margin-top: -60px;
        padding-bottom: 15px;
        padding-right: 18px;
        border-bottom: 1px solid #c7c5c1; }
      #social-activities #hdxh-slider-mob .swiper-container .nav-buttons.next-button {
        margin-top: -8px; }
      #social-activities #hdxh-slider-mob .swiper-container .nav-buttons.swiper-button-disabled {
        color: rgba(255, 255, 255, 0.5); }
      @media only screen and (max-width: 1024px) {
        #social-activities #hdxh-slider-mob .swiper-container .nav-buttons {
          display: none; } }
    #social-activities #hdxh-slider-mob .swiper-container .swiper-pagination {
      width: 100%;
      max-width: 1180px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      bottom: 16px; }
      #social-activities #hdxh-slider-mob .swiper-container .swiper-pagination span {
        background: #fff;
        margin: 0 17px 0 0;
        position: relative;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        width: 8px;
        height: 8px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        #social-activities #hdxh-slider-mob .swiper-container .swiper-pagination span::after {
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: transparent;
          left: -6px;
          top: -6px;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        #social-activities #hdxh-slider-mob .swiper-container .swiper-pagination span:hover, #social-activities #hdxh-slider-mob .swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=100); }
          #social-activities #hdxh-slider-mob .swiper-container .swiper-pagination span:hover::after, #social-activities #hdxh-slider-mob .swiper-container .swiper-pagination span.swiper-pagination-bullet-active::after {
            background: rgba(255, 255, 255, 0.2); }

#social-activities #news-wrp {
  margin: 0 -10px;
  padding: 60px 0 40px 0; }
  @media only screen and (max-width: 1200px) {
    #social-activities #news-wrp {
      padding: 20px 40px 40px 40px; } }
  @media only screen and (max-width: 1024px) {
    #social-activities #news-wrp {
      margin: 0; } }
  @media only screen and (max-width: 767px) {
    #social-activities #news-wrp {
      padding: 20px 20px 40px 20px; } }
  #social-activities #news-wrp .block-wrp {
    width: 33.33%;
    float: left;
    padding: 0 10px;
    margin: 0 0 20px 0;
    position: relative;
    overflow: hidden; }
    #social-activities #news-wrp .block-wrp .img-wrp {
      width: 100%;
      overflow: hidden;
      position: relative; }
      @media only screen and (max-width: 1024px) {
        #social-activities #news-wrp .block-wrp .img-wrp {
          width: 44.77%;
          float: left;
          overflow: hidden; } }
      @media only screen and (max-width: 767px) {
        #social-activities #news-wrp .block-wrp .img-wrp {
          width: 100%;
          height: auto;
          float: none; } }
      #social-activities #news-wrp .block-wrp .img-wrp a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative; }
        #social-activities #news-wrp .block-wrp .img-wrp a img {
          display: block;
          width: 100%; }
    #social-activities #news-wrp .block-wrp .item {
      width: calc(100% - 20px);
      height: 100%;
      position: absolute;
      top: calc(100% - 105px);
      left: 10px;
      background: rgba(0, 0, 0, 0.7);
      padding: 23px 25px;
      -webkit-transition: 0.3s linear;
      -moz-transition: 0.3s linear;
      -ms-transition: 0.3s linear;
      -o-transition: 0.3s linear;
      transition: 0.3s linear; }
      @media only screen and (max-width: 1024px) {
        #social-activities #news-wrp .block-wrp .item {
          width: 55.20%;
          float: left;
          top: 0;
          left: auto;
          right: 0;
          height: 100%;
          background: #f3f3f3; } }
      @media only screen and (max-width: 767px) {
        #social-activities #news-wrp .block-wrp .item {
          width: 100%;
          float: none;
          height: auto;
          padding: 20px;
          top: auto;
          right: auto;
          position: static; } }
      #social-activities #news-wrp .block-wrp .item h4 {
        height: 60px;
        display: table-cell;
        vertical-align: middle;
        font-size: 24px;
        color: #fff;
        margin-top: -8px; }
        @media only screen and (max-width: 1024px) {
          #social-activities #news-wrp .block-wrp .item h4 {
            color: #333333; } }
        @media only screen and (max-width: 767px) {
          #social-activities #news-wrp .block-wrp .item h4 {
            font-size: 18px;
            margin-top: -6px; } }
      #social-activities #news-wrp .block-wrp .item .desc {
        padding: 19px 0 20px 0; }
        @media only screen and (max-width: 767px) {
          #social-activities #news-wrp .block-wrp .item .desc {
            padding: 10px 0 20px 0; } }
        #social-activities #news-wrp .block-wrp .item .desc p {
          text-align: justify;
          font-size: 15px;
          color: #fff;
          line-height: 22px; }
          @media only screen and (max-width: 1024px) {
            #social-activities #news-wrp .block-wrp .item .desc p {
              color: #666666; } }
      #social-activities #news-wrp .block-wrp .item a {
        font-size: 15px;
        color: #fff; }
        @media only screen and (max-width: 1024px) {
          #social-activities #news-wrp .block-wrp .item a {
            color: #333333; }
            #social-activities #news-wrp .block-wrp .item a i {
              color: #ed1b2f; } }
    #social-activities #news-wrp .block-wrp:hover .item {
      top: 0;
      background: rgba(237, 27, 47, 0.9); }
      #social-activities #news-wrp .block-wrp:hover .item h4 {
        margin-top: 0; }
    @media only screen and (max-width: 1024px) {
      #social-activities #news-wrp .block-wrp {
        width: 100%;
        padding: 0;
        overflow: auto; }
        #social-activities #news-wrp .block-wrp:hover .item {
          background: #f3f3f3; } }

#social-activities-list {
  position: relative; }
  #social-activities-list .right-content {
    width: calc(100% - 300px);
    float: left;
    padding: 48px 0 0 0; }
    @media only screen and (max-width: 1200px) {
      #social-activities-list .right-content {
        width: calc(100% - 340px); } }
    @media only screen and (max-width: 1024px) {
      #social-activities-list .right-content {
        width: 100%;
        padding: 25px 40px 0 40px; } }
    @media only screen and (max-width: 767px) {
      #social-activities-list .right-content {
        padding: 25px 20px 0 20px; } }
    #social-activities-list .right-content .heading {
      font-size: 30px;
      color: #ed1b2f;
      padding-bottom: 24px; }
      @media only screen and (max-width: 767px) {
        #social-activities-list .right-content .heading {
          font-size: 24px; } }
    #social-activities-list .right-content .banner-img {
      position: relative; }
      #social-activities-list .right-content .banner-img img {
        display: block;
        width: 100%; }
        #social-activities-list .right-content .banner-img img.mobile-img {
          display: none; }
        @media only screen and (max-width: 767px) {
          #social-activities-list .right-content .banner-img img.desktop-img {
            display: none; }
          #social-activities-list .right-content .banner-img img.mobile-img {
            display: block; } }
      #social-activities-list .right-content .banner-img .desc {
        position: absolute;
        bottom: 0;
        left: 0;
        background: url(../images/hoat-dong-xa-hoi/desc-shadow.png) no-repeat 0 0/100% 100%;
        padding: 0px 30px 18px 30px; }
        @media only screen and (max-width: 767px) {
          #social-activities-list .right-content .banner-img .desc {
            padding: 0px 20px 10px 20px; } }
        #social-activities-list .right-content .banner-img .desc p {
          font-size: 15px;
          color: #fff;
          line-height: 21px;
          padding-bottom: 12px; }
          #social-activities-list .right-content .banner-img .desc p:first-child {
            font-size: 18px; }
    #social-activities-list .right-content .main-list {
      padding: 30px 0 0 0;
      border-bottom: 1px solid #cccccc; }
      @media only screen and (max-width: 1024px) {
        #social-activities-list .right-content .main-list {
          width: calc(100% + 20px);
          margin: 0 -10px; } }
      @media only screen and (max-width: 767px) {
        #social-activities-list .right-content .main-list {
          width: 100%;
          margin: 0; } }
      #social-activities-list .right-content .main-list .block {
        height: 190px;
        margin-bottom: 20px; }
        @media only screen and (max-width: 1024px) {
          #social-activities-list .right-content .main-list .block {
            width: 50%;
            float: left;
            padding: 0 10px;
            height: auto; } }
        @media only screen and (max-width: 767px) {
          #social-activities-list .right-content .main-list .block {
            width: 100%;
            float: none;
            padding: 0;
            height: auto; } }
        #social-activities-list .right-content .main-list .block .img-wrp {
          width: 43%;
          float: left;
          overflow: hidden; }
          @media only screen and (max-width: 1024px) {
            #social-activities-list .right-content .main-list .block .img-wrp {
              width: 100%;
              float: none; } }
          @media only screen and (max-width: 767px) {
            #social-activities-list .right-content .main-list .block .img-wrp {
              width: 100%;
              float: left; } }
          #social-activities-list .right-content .main-list .block .img-wrp a {
            width: 100%;
            height: 100%;
            display: block;
            position: relative; }
            #social-activities-list .right-content .main-list .block .img-wrp a img {
              display: block;
              width: 100%;
              -webkit-transition: 0.3s linear;
              -moz-transition: 0.3s linear;
              -ms-transition: 0.3s linear;
              -o-transition: 0.3s linear;
              transition: 0.3s linear; }
          #social-activities-list .right-content .main-list .block .img-wrp:hover img {
            -moz-transform: scale(1.025);
            -o-transform: scale(1.025);
            -ms-transform: scale(1.025);
            -webkit-transform: scale(1.025);
            transform: scale(1.025); }
        #social-activities-list .right-content .main-list .block .desc {
          width: 57%;
          float: left;
          padding: 0 20px;
          margin-top: -6px; }
          @media only screen and (max-width: 1024px) {
            #social-activities-list .right-content .main-list .block .desc {
              width: 100%;
              float: none;
              padding: 20px 0;
              margin: 0;
              min-height: 215px; } }
          @media only screen and (max-width: 767px) {
            #social-activities-list .right-content .main-list .block .desc {
              width: 100%;
              float: left;
              padding: 0;
              margin: 0;
              min-height: 0; } }
          @media only screen and (max-width: 767px) {
            #social-activities-list .right-content .main-list .block .desc .jam {
              padding-top: 10px;
              padding-bottom: 10px; } }
          #social-activities-list .right-content .main-list .block .desc .category {
            font-size: 13px;
            color: #666666;
            padding-right: 10px; }
          #social-activities-list .right-content .main-list .block .desc .date {
            font-size: 13px;
            color: #666666;
            padding-left: 10px; }
          #social-activities-list .right-content .main-list .block .desc .title {
            padding: 10px 0 10px 0; }
            #social-activities-list .right-content .main-list .block .desc .title a {
              font-size: 18px;
              color: #333333;
              line-height: 24px; }
              #social-activities-list .right-content .main-list .block .desc .title a:hover {
                color: #ed1b2f; }
            @media only screen and (max-width: 767px) {
              #social-activities-list .right-content .main-list .block .desc .title {
                padding: 0;
                margin-top: -5px; }
                #social-activities-list .right-content .main-list .block .desc .title a {
                  font-size: 15px;
                  line-height: 18px; } }
            @media only screen and (max-width: 360px) {
              #social-activities-list .right-content .main-list .block .desc .title {
                line-height: 15px; } }
          @media only screen and (max-width: 767px) {
            #social-activities-list .right-content .main-list .block .desc .short-cont {
              padding-top: 10px;
              padding-bottom: 10px; } }
          #social-activities-list .right-content .main-list .block .desc .short-cont p {
            font-size: 15px;
            color: #000;
            line-height: 21px; }
    #social-activities-list .right-content .others {
      width: calc(100% + 30px);
      margin: 0 -15px;
      padding: 0 0 30px 0; }
      @media only screen and (max-width: 767px) {
        #social-activities-list .right-content .others {
          padding: 0;
          width: 100%;
          margin: 0; } }
      #social-activities-list .right-content .others .ot-heading {
        font-size: 30px;
        color: #ed1b2f;
        padding: 48px 0 24px 15px; }
        @media only screen and (max-width: 767px) {
          #social-activities-list .right-content .others .ot-heading {
            font-size: 24px;
            padding: 20px 0 24px 0; } }
      #social-activities-list .right-content .others .block {
        width: 50%;
        float: left;
        padding: 0 15px;
        margin-bottom: 30px;
        position: relative; }
        @media only screen and (max-width: 767px) {
          #social-activities-list .right-content .others .block {
            width: 100%;
            padding: 0;
            float: none;
            margin-bottom: 20px;
            height: auto; } }
        #social-activities-list .right-content .others .block .img-wrp {
          width: 100%;
          position: relative;
          overflow: hidden; }
          #social-activities-list .right-content .others .block .img-wrp img {
            display: block;
            width: 100%;
            -webkit-transition: 0.3s linear;
            -moz-transition: 0.3s linear;
            -ms-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            transition: 0.3s linear; }
        #social-activities-list .right-content .others .block .text {
          width: calc(100% - 30px);
          position: absolute;
          bottom: 0;
          left: 15px;
          background: rgba(0, 0, 0, 0.8);
          -webkit-transition: 0.3s linear;
          -moz-transition: 0.3s linear;
          -ms-transition: 0.3s linear;
          -o-transition: 0.3s linear;
          transition: 0.3s linear; }
          @media only screen and (max-width: 767px) {
            #social-activities-list .right-content .others .block .text {
              width: 100%;
              left: 0; } }
          #social-activities-list .right-content .others .block .text p {
            font-size: 18px;
            line-height: 50px;
            color: #fff;
            padding: 0 20px; }
          #social-activities-list .right-content .others .block .text i {
            font-size: 24px;
            color: #fff;
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -12px; }
        #social-activities-list .right-content .others .block:hover .img-wrp img {
          -moz-transform: scale(1.025);
          -o-transform: scale(1.025);
          -ms-transform: scale(1.025);
          -webkit-transform: scale(1.025);
          transform: scale(1.025); }
        #social-activities-list .right-content .others .block:hover .text {
          background: rgba(237, 27, 47, 0.8); }

body.menu-hide #social-activities-list .fixed-mn-left.fixed,
body.menu-hide #social-activities-detail .fixed-mn-left.fixed {
  top: 93px;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear; }

#social-activities-detail .left-content {
  width: 300px;
  float: left;
  padding-right: 20px;
  margin-top: 40px; }
  @media only screen and (max-width: 1200px) {
    #social-activities-detail .left-content {
      padding-left: 40px; } }
  @media only screen and (max-width: 1024px) {
    #social-activities-detail .left-content {
      display: none; } }
  #social-activities-detail .left-content ul {
    width: 100%;
    list-style: none; }
    #social-activities-detail .left-content ul li {
      width: 100%;
      list-style: none;
      padding: 14px 0 15px 0;
      border-bottom: 1px solid #e5e5e5;
      position: relative; }
      #social-activities-detail .left-content ul li a {
        font-size: 15px;
        color: #666666; }
      #social-activities-detail .left-content ul li i {
        font-size: 14px;
        color: #666666;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 0; }
      #social-activities-detail .left-content ul li:first-child {
        font-size: 24px;
        color: #333333; }
      #social-activities-detail .left-content ul li:hover a, #social-activities-detail .left-content ul li.active a {
        color: #ed1b2f; }
      #social-activities-detail .left-content ul li:hover i, #social-activities-detail .left-content ul li.active i {
        color: #ed1b2f; }

#social-activities-detail .right-content {
  width: calc(100% - 300px);
  padding-left: 20px;
  float: left; }
  @media only screen and (max-width: 1200px) {
    #social-activities-detail .right-content {
      width: calc(100% - 340px); } }
  @media only screen and (max-width: 1024px) {
    #social-activities-detail .right-content {
      width: 100%;
      padding: 40px 40px 0 40px; } }
  @media only screen and (max-width: 767px) {
    #social-activities-detail .right-content {
      padding: 20px 20px 0 20px; } }
  #social-activities-detail .right-content .mob-list {
    padding: 30px 0;
    display: none; }
    @media only screen and (max-width: 1024px) {
      #social-activities-detail .right-content .mob-list {
        display: block; } }
    #social-activities-detail .right-content .mob-list p {
      font-size: 24px;
      color: #333333;
      line-height: 50px;
      float: left; }
    #social-activities-detail .right-content .mob-list select {
      width: calc(100% - 235px);
      height: 50px;
      float: right;
      border: 1px solid #cccccc;
      padding-left: 20px;
      font-size: 15px;
      color: #666666;
      appearance: button;
      -moz-appearance: button;
      /* Firefox */
      -webkit-appearance: button;
      /* Safari and Chrome */
      background: url(../images/icon/select_box.png) #fff no-repeat right center; }
      @media only screen and (max-width: 767px) {
        #social-activities-detail .right-content .mob-list select {
          width: 100%;
          float: none;
          margin-top: 15px; } }
  #social-activities-detail .right-content .title {
    font-size: 30px;
    color: #ed1b2f;
    line-height: 31px;
    padding: 50px 0 13px 0; }
    @media only screen and (max-width: 1024px) {
      #social-activities-detail .right-content .title {
        padding: 0 0 5px 0; } }
    @media only screen and (max-width: 767px) {
      #social-activities-detail .right-content .title {
        font-size: 24px;
        line-height: 30px; } }
  #social-activities-detail .right-content .first-line {
    float: left;
    margin-bottom: 11px; }
    #social-activities-detail .right-content .first-line .category {
      font-size: 13px;
      color: #666666; }
    #social-activities-detail .right-content .first-line .date {
      font-size: 13px;
      color: #666666; }
    @media only screen and (max-width: 767px) {
      #social-activities-detail .right-content .first-line .hidex {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0); } }
  #social-activities-detail .right-content .social-networks {
    float: left; }
    #social-activities-detail .right-content .social-networks .sha-fb {
      cursor: pointer; }
  #social-activities-detail .right-content .editable {
    border-top: 1px solid #cccccc;
    margin: 20px 0 0 0;
    padding: 25px 0 34px 0; }
    @media only screen and (max-width: 767px) {
      #social-activities-detail .right-content .editable {
        padding: 25px 0 0 0; } }
    #social-activities-detail .right-content .editable p, #social-activities-detail .right-content .editable ul, #social-activities-detail .right-content .editable ol, #social-activities-detail .right-content .editable li {
      font-size: 15px;
      color: #333333;
      line-height: 21px;
      padding-bottom: 21px; }
      #social-activities-detail .right-content .editable p a, #social-activities-detail .right-content .editable ul a, #social-activities-detail .right-content .editable ol a, #social-activities-detail .right-content .editable li a {
        color: #ed1b2f; }
        #social-activities-detail .right-content .editable p a:hover, #social-activities-detail .right-content .editable ul a:hover, #social-activities-detail .right-content .editable ol a:hover, #social-activities-detail .right-content .editable li a:hover {
          text-decoration: underline; }
  #social-activities-detail .right-content .same-category {
    border-top: 1px solid #cccccc;
    padding: 50px 0 40px 0; }
    @media only screen and (max-width: 767px) {
      #social-activities-detail .right-content .same-category {
        padding: 20px 0 40px 0; } }
    #social-activities-detail .right-content .same-category .heading {
      font-size: 18px;
      color: #000;
      float: left;
      padding-bottom: 26px; }
    #social-activities-detail .right-content .same-category .view-more.pc-ver {
      font-size: 15px;
      color: #333333;
      float: right;
      margin-top: 4px; }
      #social-activities-detail .right-content .same-category .view-more.pc-ver i {
        font-size: 18px;
        padding-left: 14px;
        color: #ed1b2f; }
      #social-activities-detail .right-content .same-category .view-more.pc-ver:hover {
        color: #ed1b2f; }
      @media only screen and (max-width: 767px) {
        #social-activities-detail .right-content .same-category .view-more.pc-ver {
          display: none; } }
    #social-activities-detail .right-content .same-category .view-more.mob-ver {
      font-size: 15px;
      color: #333333;
      display: none; }
      #social-activities-detail .right-content .same-category .view-more.mob-ver i {
        font-size: 18px;
        padding-left: 14px;
        color: #ed1b2f; }
      #social-activities-detail .right-content .same-category .view-more.mob-ver:hover {
        color: #ed1b2f; }
      @media only screen and (max-width: 767px) {
        #social-activities-detail .right-content .same-category .view-more.mob-ver {
          display: block; } }
    #social-activities-detail .right-content .same-category .block-wrp {
      width: calc(100% + 20px);
      margin: 0 -10px; }
      #social-activities-detail .right-content .same-category .block-wrp .block {
        width: 33.33%;
        float: left;
        padding: 0 10px;
        margin-bottom: 20px;
        position: relative; }
        @media only screen and (max-width: 1024px) {
          #social-activities-detail .right-content .same-category .block-wrp .block {
            width: 50%; }
            #social-activities-detail .right-content .same-category .block-wrp .block.the-last {
              display: none; } }
        @media only screen and (max-width: 767px) {
          #social-activities-detail .right-content .same-category .block-wrp .block {
            width: 100%;
            margin-bottom: 20px; }
            #social-activities-detail .right-content .same-category .block-wrp .block.the-last {
              display: block; } }
        #social-activities-detail .right-content .same-category .block-wrp .block .img-wrp {
          width: 100%;
          overflow: hidden;
          position: relative;
          text-align: center; }
          #social-activities-detail .right-content .same-category .block-wrp .block .img-wrp img {
            display: block;
            width: 100%;
            -webkit-transition: 0.3s linear;
            -moz-transition: 0.3s linear;
            -ms-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            transition: 0.3s linear; }
        #social-activities-detail .right-content .same-category .block-wrp .block .text {
          width: calc(100% - 20px);
          position: absolute;
          bottom: 0;
          left: 10px;
          padding: 10px 40px 9px 20px;
          background: rgba(0, 0, 0, 0.8);
          -webkit-transition: 0.3s linear;
          -moz-transition: 0.3s linear;
          -ms-transition: 0.3s linear;
          -o-transition: 0.3s linear;
          transition: 0.3s linear; }
          #social-activities-detail .right-content .same-category .block-wrp .block .text p {
            font-size: 13px;
            color: #fff;
            line-height: 19px; }
          #social-activities-detail .right-content .same-category .block-wrp .block .text i {
            font-size: 14px;
            color: #fff;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            right: 20px; }
        #social-activities-detail .right-content .same-category .block-wrp .block:hover .img-wrp img {
          -moz-transform: scale(1.025);
          -o-transform: scale(1.025);
          -ms-transform: scale(1.025);
          -webkit-transform: scale(1.025);
          transform: scale(1.025); }
        #social-activities-detail .right-content .same-category .block-wrp .block:hover .text {
          background: rgba(237, 27, 47, 0.8); }
      @media only screen and (max-width: 640px) {
        #social-activities-detail .right-content .same-category .block-wrp {
          width: 100%;
          margin: 0;
          padding: 0; }
          #social-activities-detail .right-content .same-category .block-wrp .block {
            padding: 0; }
            #social-activities-detail .right-content .same-category .block-wrp .block .text {
              left: 0;
              width: 100%; } }

#social-activities-list .sidebar-menu,
#social-activities-detail .sidebar-menu {
  width: 300px;
  min-height: 1px;
  float: left;
  display: block; }
  @media only screen and (max-width: 1024px) {
    #social-activities-list .sidebar-menu,
    #social-activities-detail .sidebar-menu {
      display: none; } }

#social-activities-list .fixed-mn-left,
#social-activities-detail .fixed-mn-left {
  width: 300px;
  position: absolute;
  top: 43px;
  bottom: auto;
  left: 50%;
  padding-top: 10px;
  margin-left: -590px;
  list-style: none;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear; }
  @media only screen and (max-width: 1180px) {
    #social-activities-list .fixed-mn-left,
    #social-activities-detail .fixed-mn-left {
      margin-left: calc(-50% + 40px); } }
  #social-activities-list .fixed-mn-left.fixed,
  #social-activities-detail .fixed-mn-left.fixed {
    position: fixed;
    left: 50%;
    margin-left: -590px;
    top: 160px;
    bottom: auto; }
    @media only screen and (max-width: 1180px) {
      #social-activities-list .fixed-mn-left.fixed,
      #social-activities-detail .fixed-mn-left.fixed {
        margin-left: calc(-50% + 40px); } }
  #social-activities-list .fixed-mn-left.anchor,
  #social-activities-detail .fixed-mn-left.anchor {
    position: absolute;
    top: auto;
    left: 50%;
    margin-left: -590px;
    transition: all 0.3s ease !important; }
    @media only screen and (max-width: 1180px) {
      #social-activities-list .fixed-mn-left.anchor,
      #social-activities-detail .fixed-mn-left.anchor {
        margin-left: calc(-50% + 40px); } }
  #social-activities-list .fixed-mn-left li,
  #social-activities-detail .fixed-mn-left li {
    list-style: none;
    padding: 0 20px 12px 0; }
    #social-activities-list .fixed-mn-left li a,
    #social-activities-detail .fixed-mn-left li a {
      font-size: 18px;
      color: #000; }
    #social-activities-list .fixed-mn-left li.ac a, #social-activities-list .fixed-mn-left li:hover a,
    #social-activities-detail .fixed-mn-left li.ac a,
    #social-activities-detail .fixed-mn-left li:hover a {
      color: #ed1b2f; }
